<%= render "shared/header" %>
<div class="breadcrumbs"><%= @section.chapter.book.title %> > <%= @section.chapter.chapter%> > <%= @section.section%>
<div class="col-10 offset-1 card mt-5 mr-3 mb-5" >
  <div class="card-body">
    <div>問題の追加</div>
    <%= form_tag("/sections/#{@section.id}/questions",method: :post) do%>
      <div class= "textarea">
        <textarea type="textarea" class="col-10 offset-1 mt-1 mb-3 form-control" id="inlineFormInput" rows="18" name="text" placeholder="本文のみ入力してください。(必須)" autocomplete="off"></textarea>
        <textarea type="textarea" class="count col-10 offset-1 mt-1 mb-3 form-control" id="inlineFormInput" rows="5" name="small_text-1" placeholder="(1)本文のみ入力してください。(必須)" autocomplete="off"></textarea> 
      </div>
      <div class="row justify-content-between">
        <button type="button" class="add-small-question btn btn-primary btn-sm  add-section section-lists col-2" style="min-width: 4rem;">小問の追加</button>
        <button type="submit" class="btn btn-primary btn-sm  add-section section-lists col-2" style="min-width: 4rem;">問題の登録</button>
      </div>
    <% end %>
  </div>
</div>
<div class="row justify-content-around questions">
<% i=1 %>
<% @questions.each do |question|%>
  <div class="card off col-10 col-lg-5 question-card question-<%=question.id%>">
    <%if question.image %>
      <img src="question.imgage" class="card-img-top" alt="画像">
    <%end%>
    <div class="card-body">
      <h5 class="card-title question-text">[<%=i%>]</h5>

      <p class="card-text question-text"><%= question.text %></p>
      <button type="submit" class="btn btn-danger btn-sm col-1 float-right delete-q-btn" data-question_id="<%=question.id%>" style="min-width: 8rem;">大問の削除
      </button>
    </div>
    <ul class="list-group list-group-flush">
      <% j = 1 %>
    <% question.small_questions.each do |small_question| %>
      <li class="list-group-item small-question-<%=small_question.id%> ">
        <span>(<%=j%>) </span><%= small_question.text %>
        <%# <%=form_tag("/small_questions/#{small_question.id}", method: :DELETE) do%>
          <button type="submit" class="btn btn-danger btn-sm col-1 float-right delete-sq-btn" data-small_question_id="<%=small_question.id%>" style="min-width: 8rem;">小問の削除
          </button>
        <%# <%end%>
        </br>
        解答：
        <% small_question.answers.each do |answer| %>
          <%= answer.answer %>, 
        <% end %>
        </br>
          <%= form_tag("/small_questions/#{small_question.id}/answers", method: :post) do %>
          <div class="create-ansewer">
            <input class="count-ansewr-" type="answer" size="20",maxlength="30" name="answer-1" placeholder="解答1(必須)" autocomplete="off">
            <input class="count-ansewr-" type="answer" size="20",maxlength="30" name="answer-2" placeholder="解答2(任意)" autocomplete="off">
            <input class="count-ansewr-" type="answer" size="20",maxlength="30" name="answer-3" placeholder="解答3(任意)" autocomplete="off">
            <input class="count-ansewr-" type="answer" size="20",maxlength="30" name="answer-4" placeholder="解答4(任意)" autocomplete="off">
          </div>
          <button type="submit" class="btn btn-primary btn-sm  add-section section-lists col-2" style="min-width: 8rem;">解答の登録</button>
            <% end %>
      </li>
      <% j += 1%>
    <% end %>
    </ul>
  </div>
  <%i =  i+1%>
<%end%>
</div>