= render 'shared/lessons_header'
= render 'shared/lesson_title'

.question_info
  .question_info__title= "#{ @question.title } "
  .question_info__text= "#{ @question.text } "
  - if @question.image.present?
    = image_tag @question&.image_url, alt: @question.title, class: 'question_info__image', id: "modal-open"
  .question_info__btn
    =link_to "解答を作成する", new_question_answer_path(@question.id), class: "kadomaru-button--pk-wh"
  .comment_area
    .comment_area__header 解答とコメント
    - if @answers.present?
      - @answers.each do |answer|
        .comment_area__container
          .comment_area__submitted_at
            =link_to "#{answer.decorate.submitted_at} 提出済み", question_answer_path(answer)
          - answer.comments.each do |comment|
            .comment_area__comment_body
              .comment_area__comment_text= "#{comment.text}"
              - if comment.image.present?
                .comment_area__comment_image
                  = image_tag "#{comment.image}"
              .comment_area__bottom
                .comment_area__commented_at= "#{comment.decorate.commented_at}"
                .comment_area__teacher_name= "#{comment.teacher.name}"
    - else
      .comment_area__container.px-3.pb-2 解答が作成されていません。
  - if @question.image.present?
    #modal-mask.hidden
      %section#modal.hidden
        = image_tag @question&.image_url
        #modal-close
          .cancel
