- content_for(:back_path, lesson_path(@lesson))
.o-user-index-page
  .o-user-index-page__heading
    .m-heading-line.mt8
      .m-heading-line__text.flex-spbet
        %h1.a-text-secondary.a-text-xlarge 課題
        .wrap
          .a-text-secondary.a-text-xsmall.mb4= @lesson.decorate.start_to_end_time
          .a-text-secondary.a-text-xsmall= "担当: #{@lesson.teacher.name}"
    %h4.m-heading-sub.mt8.ml8
      .a-text-primary.a-text-small= "#{@lesson.lesson_group.name}>#{@lesson.name}"
.u-user-container
  .flex.mt16.ml8
    .m-question-card__question-num.mr8= "課題#{ @question.display_order }"
    %div{ id: "js-question-status-label--#{@question.id}" }
      .m-question-card__question-status= @question.question_status_of(current_user).decorate.status_label_link
  - if @question.image.present?
    = image_tag @question&.image_url, alt: @question.image_alt, class: 'a-question-image-on-user mt8'
  .pr8.pl8.mt8
    .a-question-text-box
      .a-text-primary= simple_format(@question.text)
  .a-border-secondary.mt24.mb24
  .a-text-primary.a-text-large.pl8 提出/コメント
  .mt8.mb40.pr8.pl8
    = render 'answer_form'
  - if @answers.present?
    .pl8.pr8
      - @answers.each do |answer|
        - answer.comments.created_desc_order.each do |comment|
          .m-conversation-card.mb16.mb32
            .m-conversation-card__card.m-conversation-card__card--white
              .m-conversation-card__text= simple_format(comment.text)
              .m-conversation-card__sub-info
                - if comment.image.present?
                  .m-conversation-card__image-link{ id: "js-comment_image-show-link--#{ comment.id }"}
                    = link_to '画像をみる', image_show_answer_comment_path(answer, comment), remote: true
                .m-conversation-card__submited-at
                  .a-text-note= comment.decorate.created_at
            .m-conversation-card__user-image
              - if false # comment.teacher.image.present?
                = image_tag current_user.image_url, class: 'a-user-image--size100per'
                .a-text-secondary.a-text-xsmall.mt8= "#{ comment.teacher.name } 先生"
              - else
                .a-user-image--no-image-size100per.a-user-image--no-image-size100per--white
                  .a-text-xsmall.a-text-secondary No Image
                .a-text-secondary.a-text-xsmall.mt8= "#{ comment.teacher.name }"
          %div{ id: "js-comment-image--#{comment.id}" }
        .m-conversation-card.mb32
          .m-conversation-card__user-image
            - if current_user.image.present?
              = image_tag current_user.image_url, class: 'a-user-image--size100per'
              .a-text-secondary.a-text-xsmall.mt8 あなた
            - else
              .a-user-image--no-image-size100per.a-text-xsmall No Image
              .a-text-secondary.a-text-xsmall.mt8 あなた
          .m-conversation-card__card
            .m-conversation-card__text= simple_format(answer.text)
            .m-conversation-card__sub-info
              - if answer.answer_images.present?
                .m-conversation-card__image-link{ id: "js-image-show-link--#{ answer.id }"}
                  = link_to '画像をみる', image_show_answer_path(answer), remote: true
              .m-conversation-card__submited-at
                .a-text-note= answer.decorate.created_at
        %div{ id: "js-answer-image--#{answer.id}" }
