.m-lesson-header
  .m-lesson-header__term
    .a-text-secondary.a-text-small= @lesson.decorate.start_to_end_time
  .m-lesson-header__teacher
    .a-text-secondary.a-text-small= "担当: #{@lesson.teacher.name}"
  .flex-spbet-end
    .m-lesson-header__name
      =link_to "#{@lesson.lesson_group.name}/#{@lesson.name}" , lesson_path(@lesson)
    .wrap= link_to '課題一覧に戻る', lesson_path(@lesson)

.u-user-container
  .flex.mt16.ml8
    .m-question-card__question-num.mr8= "課題#{ @question.display_order }"
    %div{ id: "js-question-status-label--#{@question.id}" }
      .m-question-card__question-status= @question.question_status_of(current_user).decorate.status_label_link
  - if @question.image.present?
    = image_tag @question&.image_url, alt: @question.image_alt, class: 'a-question-image-on-user mt8'
  .pr8.pl8.mt8
    .a-question-text-box
      .a-text-primary= simple_format(@question.text)
  .mt24.mb24.m-submit-answer-button-wrap
    =link_to "提出する", new_question_answer_path(@question.id), class: "a-button-primary pb8 pt8"
  - if @answers.present?
    .a-border-secondary.mb24
    .pl8.pr8
      - @answers.each do |answer|
        .m-conversation-card.mb32
          .m-conversation-card__user-image
            - if current_user.image.present?
              = image_tag current_user.image_url, class: 'a-user-image--size100per'
              .a-text-secondary.a-text-xsmall.mt8 あなた
            - else
              .a-user-image--no-image-size100per.a-text-xsmall No Image
              .a-text-secondary.a-text-xsmall.mt8 あなた
          .m-conversation-card__card
            .m-conversation-card__text= simple_format(answer.text)
            .m-conversation-card__sub-info
              - if answer.answer_images.present?
                .m-conversation-card__image-link{ id: "js-image-show-link--#{ answer.id }"}
                  = link_to '画像をみる', image_show_answer_path(answer), remote: true
              .m-conversation-card__submited-at
                .a-text-note= answer.decorate.created_at
        %div{ id: "js-answer-image--#{answer.id}" }
        - answer.comments.each do |comment|

          .m-conversation-card.mb16.mb32
            .m-conversation-card__card
              .m-conversation-card__text= simple_format(comment.text)
              .m-conversation-card__sub-info
                - if comment.image.present?
                  .m-conversation-card__image-link
                    = link_to '画像をみる', '#'
                .m-conversation-card__submited-at
                  .a-text-note= comment.decorate.created_at
            .m-conversation-card__user-image
              - if false # comment.teacher.image.present?
                = image_tag current_user.image_url, class: 'a-user-image--size100per'
                .a-text-secondary.a-text-xsmall.mt8= "#{ comment.teacher.name } 先生"
              - else
                .a-user-image--no-image-size100per
                  .a-text-xsmall.a-text-secondary No Image
                .a-text-secondary.a-text-xsmall.mt8= "#{ comment.teacher.name }"
