.o-checking
  .o-checking__left-container
    - @answers&.each do |answer|
      .o-checking__conversation-wrap
        .o-checking__user-image
          .m-user-image
            .m-user-image__image
              - if answer.user.image.present?# ユーザーに画像を登録させる。
                = image_tag answer.user.image_url, class: 'a-user-image a-user-image--small'
              - else
                .a-user-no-image.a-user-no-image--small No Image
            .m-user-image__name--small
              .a-text-primary.a-text-small= answer.user.name
              .flex.flex-cen
                .a-text-primary.a-text-small さん
        .o-checking__answer-wrap
          .o-checking__answer-text
            .a-text-primary.a-text-large= simple_format(answer.text)
            .flex-end
              .a-text-note= answer.decorate.created_at
          - if answer.answer_images.present?
            .o-checking__answer-images
              - answer&.answer_images.each do |answer_image|
                = image_tag answer_image&.image_url, class: 'o-checking__answer-image'
      - answer.comments&.each do |comment|
        .o-checking__conversation-wrap
          .o-checking__answer-wrap
            .o-checking__comment-text
              .a-text-primary.a-text-large= simple_format(comment.text)
              .flex-end
                .a-text-note= comment.decorate.created_at
            - if comment.image.present?
              .o-checking__answer-images
                = image_tag comment&.image_url, class: 'o-checking__answer-image'
          .o-checking__user-image
            .m-user-image
              .m-user-image__image
                - if false # comment.teacher.image.present? 教員にimageを登録させたい。
                  = image_tag comment.teacher.image_url, class: 'a-user-image a-user-image--small'
                - else
                  .a-user-no-image.a-user-no-image--small No Image
              .m-user-image__name--small
                .a-text-primary.a-text-small= comment.teacher.name
                .flex.flex-cen
                  .a-text-primary.a-text-small さん
  .o-checking__right-container
    .o-checking__question-title.flex-spbet-end
      .a-text-primary.a-text-xlarge= @target_answer.question.info
      .ml16= link_to '戻る', teacher_answer_check_path(@lesson, question_id: @question.id), class: 'a-button a-button--secondary'
    -# 要望が出たら戻す
    -# .flex-spbet-end
    -#   .div
    -#     - if prev_question_first_status = @question_status.prev_question_first_submitted_question_status
    -#       = link_to '<< 前の課題', new_teacher_question_status_comment_path(prev_question_first_status), class: ''
    -#   .div
    -#     - if next_question_first_status = @question_status.next_question_first_submitted_question_status
    -#       = link_to '次の課題 >>', new_teacher_question_status_comment_path(next_question_first_status), class: ''
    .o-checking__comment-form
      =form_with model: @comment, url: teacher_question_status_comments_path(@question_status), local: true do |f|
        =render 'shared/error_messages', model_object: @comment
        = f.label :text, class: 'required'
        = f.text_area :text, class: 'o-checking__text_area'
        = f.label :image, class: 'required'
        = f.file_field :image
        = f.hidden_field :answer_id, value: @target_answer.id
        .o-checking__submit
          = f.submit '送信', class: 'a-button a-button--primary', data: { disable_with: '送信中' }
    -# この機能は要望が上がったら出す。
    -# .o-checking__page-buttons-area
    -#   .o-checking__page-button--long
    -#     - if prev_check_status = @question_status.prev_question_status_to_check
    -#       = link_to '<< 前の未チェック', new_teacher_question_status_comment_path(prev_check_status), class: ''
    -#   .o-checking__page-button--long
    -#     - if next_check_status = @question_status.next_question_status_to_check
    -#       = link_to '次の未チェック >>', new_teacher_question_status_comment_path(next_check_status), class: ''
    -#   - if next_check_status.nil? && prev_check_status.nil?
    -#     .a-text-note
    .o-checking__page-buttons-area.mt56
      .o-checking__page-button--long
        - if prev_status_submitted = @question_status.prev_question_status_submitted
          = link_to '< 前の提出者', new_teacher_question_status_comment_path(prev_status_submitted), class: ''
      .o-checking__page-button--long
        - if next_status_submitted = @question_status.next_question_status_submitted
          = link_to '次の提出者 >', new_teacher_question_status_comment_path(next_status_submitted), class: ''
    .o-checking__question-area
      .o-checking__question-head
        .a-text-primary.a-text-large 課題内容
      .o-checking__question-image-wrap
        - if @question&.image_url
          = image_tag @question.image_url, alt: @question.image_alt, class: 'o-checking__question-image'
    .o-checking__question-text
      = @question.text

