.user_form_session
  .user_form_session__logo
    =image_tag 'marutsuke_logo_b.png', alt: 'marutsuke'
  .user_form_session__container
    .user_form_session__title
      %span>ログイン
    = form_with scope: :session, url: login_post_path, local: true do |f|
      .user_form_session__label_and_input
        = f.label :email, "#{User.human_attribute_name(:email)}"
        = f.email_field :email
      .user_form_session__label_and_input
        = f.label :password, User.human_attribute_name(:password), class: 'required'
        = f.password_field :password
      .user_form_session__label_and_input--checkbox
        = f.check_box :remember_me
        = f.label :remember_me, '次回から自動でログイン'
      = f.submit 'ログイン', class: 'user_form_session__submit_btn'
