.user_form_session
  .user_form_session__logo
    =image_tag 'marutsuke_logo_b.png', alt: 'marutsuke'
  .user_form_session__container
    .user_form_session__title
      %span>#{ @school.name }
      %span>専用ログイン画面
    = form_with scope: :session, url: login_post_path(@school.login_path), local: true do |f|
      .user_form_session__label_and_input
        = f.label :email_or_login_id, "#{User.human_attribute_name(:email)}または#{User.human_attribute_name(:login_id)}"
        = f.text_field :email_or_login_id
      .user_form_session__label_and_input
        = f.label :password, User.human_attribute_name(:password), class: 'required'
        = f.password_field :password
      .user_form_session__label_and_input--checkbox
        = f.check_box :remember_me
        = f.label :remember_me, '次回から自動的にログイン'
        =f.hidden_field :school_login_path, value: @school&.login_path
      = f.submit 'ログイン', class: 'user_form_session__submit_btn'
