= render 'admin/shared/header'
.user_form__title 管理者ログイン
.user_form
  = form_with scope: :session, url: admin_login_path, local: true do |f|
    .user_form__label_and_input
      = f.label :email
      = f.email_field :email
    .user_form__label_and_input
      = f.label :password
      = f.password_field :password
    .user_form__label_and_input--checkbox
      = f.check_box :remember_me
      = f.label :remember_me, 'ログイン状態を保持する'
    = f.submit 'ログイン', class: 'user_form__submit_btn'
