.lesson_form
  = form_with model: [:teacher, lesson_group], local: true do |f|
    =render 'shared/error_messages', model_object: lesson_group
    .lesson_form__label_and_input
      = f.label :name, class: 'required'
      = f.text_field :name
    .lesson_form__label_and_input
      - year = Time.zone.now.year - 1
      = f.label :school_year
      = f.select :school_year, (year..year + 3), include_blank: true
    .lesson_form__label_and_input
      = f.label :min_school_grade, class: 'required'
      = f.select :min_school_grade, SCHOOL_GRADE_HASH.invert, include_blank: true
    .lesson_form__label_and_input
      = f.label :max_school_grade
      = f.select :max_school_grade, SCHOOL_GRADE_HASH.delete_if{|k,v| k == 4 || k == 20}.invert, include_blank: true
    .lesson_form__label_and_input
      = f.label :school_building_id, class: 'required'
      = f.select :school_building_id,
         current_teacher.decorate.school_building_select_array,
         selected: current_teacher.main_school_building.id
    = f.submit '登録する', class: 'lesson_form__submit_btn'
