.mb24.mt16.ml16= link_to '講座新規作成', new_teacher_lesson_group_path

講座一覧
.mb48
  - if @lesson_groups.present?
    = paginate @lesson_groups
    %table.o-table-simple.mr40
      %thead.o-table-simple__thead
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:name)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_building_id)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_year)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:target_school_grade)
        %th.o-table-simple__th 受講人数
        %th.o-table-simple__th
      - @lesson_groups.each do |lesson_group|
        %tr.o-table-simple__tr
          %td.o-table-simple__td= lesson_group.name
          %td.o-table-simple__td= lesson_group.school_building.name
          %td.o-table-simple__td= lesson_group.school_year
          %td.o-table-simple__td= lesson_group.target_school_grade
          %td.o-table-simple__td= lesson_group.users.size
          %td.o-table-simple__td= link_to '詳細', teacher_lesson_group_path(lesson_group)
    = paginate @lesson_groups
