.flex
  .mb24.mt16.ml16= link_to '講座新規作成', new_teacher_lesson_group_path
講座一覧
.mb48
  - if @lesson_groups.present?
    = paginate @lesson_groups
    %table.o-table-simple.mr40
      %thead.o-table-simple__thead
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:name)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_building_id)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_year)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:target_school_grade)
        %th.o-table-simple__th 公開期間
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:free_attend)
        %th.o-table-simple__th 授業数
        %th.o-table-simple__th 授業追加・編集
        %th.o-table-simple__th  講座情報編集
      - @lesson_groups.each do |lesson_group|
        %tr.o-table-simple__tr
          %td.o-table-simple__td= lesson_group.name
          %td.o-table-simple__td= lesson_group.school_building.name
          %td.o-table-simple__td= lesson_group.school_year
          %td.o-table-simple__td= lesson_group.decorate.target_school_grade
          %td.o-table-simple__td= lesson_group.decorate.start_to_end_date
          %td.o-table-simple__td= lesson_group.decorate.free_attend_to_s
          %td.o-table-simple__td= lesson_group.lessons.size
          %td.o-table-simple__td= link_to '授業追加・編集', teacher_lesson_group_path(lesson_group)
          %td.o-table-simple__td= link_to '講座情報編集', edit_teacher_lesson_group_path(lesson_group)
    = paginate @lesson_groups
