講座新規作成
%hr
= render 'form', lesson_group: @lesson_group
%hr
  - @lesson_groups.each do |lesson_group|
    .flex
      .mr16= "#{ lesson_group.name }・#{ lesson_group.school_building.name }"
      .mr16
        = link_to '詳細', teacher_lesson_group_path(lesson_group)
      .mr16
        = link_to '編集', edit_teacher_lesson_group_path(lesson_group)
    %hr
