.o-profile.mt24
  .o-profile__content
    .o-profile__header
      .m-heading.m-heading--line
        .m-heading__text
          %h2.a-text-primary.a-text-huge 講座詳細
        .m-heading__button
        .a-text-xlarge= link_to '戻る',  teacher_lesson_groups_path, class: 'a-button a-button--secondary'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 講座名
        .m-profile-item__body.flex-spbet
          .a-text-primary.a-text-xlarge= @lesson_group.name
          = link_to '編集', edit_teacher_lesson_group_path(@lesson_group), class: 'a-button a-button--edit'

    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 年度
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= "#{@lesson_group.school_year}年度"
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 校舎
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @lesson_group.school_building.name
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 対象学年
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @lesson_group.decorate.target_school_grade


    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 受講許可方法
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @lesson_group.decorate.free_attend_to_s


    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 授業一覧
        .m-profile-item__body
          .flex-spbet.u-width-wrap-100per
            %ul
              - @lesson_group.lessons.each do |lesson|
                %li.flex-spbet
                  .a-text-primary.a-text-large= lesson.name
            = link_to '追加・編集', teacher_lesson_group_lessons_path(@lesson_group), class: 'a-button a-button--edit'

    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 生徒一覧
        .m-profile-item__body
          .flex-spbet.u-width-wrap-100per
            %ul
              - @users.each do |user|
                %li.a-text-primary.a-text-large= user.name
