.flex-sparo
  %h2.mt16.ml16= "#{@lesson_group.name}/#{@lesson.name}/ 授業編集"
  .mt16.ml16= link_to '戻る', teacher_lesson_group_lessons_path(@lesson_group), class: 'a-button a-button--secondary'
%hr
.mb32
= render 'form', lesson: @lesson, url: teacher_lesson_path(@lesson)
.mt40.flex-end.mr24
  = link_to '削除', teacher_lesson_path(@lesson), method: :delete, class: 'a-button a-button--danger', data: { confirm: '授業を本当に削除しますか?' }
