- if @lessons_to_check.present?
  .lessons_to_check
    .lessons_to_check__title 未チェックがあります！！
    .lessons_to_check__lessons
      - @lessons_to_check.each do |lesson|
        .lessons_to_check__lesson= link_to "#{ lesson.name }(#{ lesson.checking_count })", '#'


%table.lesson_table.ml24
  %thead.lesson_table__thead
    %th.lesson_table__th= Lesson.human_attribute_name(:name)
    %th.lesson_table__th= Lesson.human_attribute_name(:teacher_id)
    %th.lesson_table__th 講座期間
    %th.lesson_table__th 受講人数
    %th.lesson_table__th 課題数
    %th.lesson_table__th 完了数
    %th.lesson_table__th 未提出
    %th.lesson_table__th 再提出
    %th.lesson_table__th 要確認
  - @lessons.each do |lesson|
    %tr.lesson_table__tr
      %td.lesson_table__tr= link_to lesson.name, teacher_lesson_path(lesson)
      %td.lesson_table__tr= lesson.teacher.name
      %td.lesson_table__tr= lesson.decorate.start_to_end_time
      %td.lesson_table__tr ''
      %td.lesson_table__tr= lesson.questions.size
      %td.lesson_table__tr= lesson.decorate.complete_rate
      %td.lesson_table__tr= lesson.not_submitted_count
      %td.lesson_table__tr= lesson.submit_again_count
      %td{class: lesson.cheking_count_td_class}= lesson.checking_count
