.o-search-form
  %h3.o-search-form__title 授業検索
  = search_form_for(@q, url: teacher_lessons_path) do |f|
    .o-search-form__label_forms
      .m-label-and-input
        = f.label :lesson_group_name_cont, '講座名', class: 'm-label-and-input__label'
        = f.search_field :lesson_group_name_cont, class: 'm-label-and-input__input'
      .m-label-and-input
        = f.label :name_cont, '授業回', class: 'm-label-and-input__label'
        = f.search_field :name_cont, class: 'm-label-and-input__input'
    .o-search-form__label_forms
      .m-label-and-input
        = f.label :teacher_name_cont, '担当講師', class: 'm-label-and-input__label'
        = f.search_field :teacher_name_cont, class: 'm-label-and-input__input'
      .m-label-and-input
        = f.label :lesson_group_school_building_name_cont, '校舎名', class: 'm-label-and-input__label'
        = f.search_field :lesson_group_school_building_name_cont, class: 'm-label-and-input__input'
    .o-search-form__button_area
      .m-button-set
        = link_to 'クリア', teacher_lessons_path, class: 'a-button a-button--cancel'
        = f.submit '検索', class: 'a-button a-button--primary'


- if @lessons.present?
  = paginate @lessons
  %table.o-table-simple
    %thead.o-table-simple__thead
      %th.o-table-simple__th
      %th.o-table-simple__th= sort_link(@q, :lesson_group_school_building_name, SchoolBuilding.human_attribute_name(:name))
      %th.o-table-simple__th= sort_link(@q, :lesson_group_name, LessonGroup.human_attribute_name(:name))
      %th.o-table-simple__th= sort_link(@q, :name, Lesson.human_attribute_name(:name))
      %th.o-table-simple__th= sort_link(@q, :teacher_name, Lesson.human_attribute_name(:teacher_id))
      %th.o-table-simple__th= sort_link(@q, :start_at,  Lesson.human_attribute_name(:start_at))
      %th.o-table-simple__th= sort_link(@q, :end_at,  Lesson.human_attribute_name(:end_at))
      %th.o-table-simple__th 課題設定
      %th.o-table-simple__th
    - @lessons.each do |lesson|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= lesson.decorate.has_checked_qeustion_status
        %td.o-table-simple__td= lesson.lesson_group.school_building.name
        %td.o-table-simple__td= lesson.lesson_group.name
        %td.o-table-simple__td= lesson.name
        %td.o-table-simple__td= lesson.teacher.name
        %td.o-table-simple__td= lesson.decorate.start_time_with_y
        %td.o-table-simple__td= lesson.decorate.end_time_with_y
        %td.o-table-simple__td= lesson.decorate.question_set_status
        %td.o-table-simple__td= link_to '授業詳細', teacher_lesson_path(lesson)
  = paginate @lessons
