.lesson_form__title= "#{Lesson.model_name.human}新規作成"
.lesson_form
  = form_with model: [:teacher, @lesson], local: true do |f|
    =render 'shared/error_messages', model_object: @lesson
    .lesson_form__label_and_input
      = f.label :name, class: 'required'
      = f.text_field :name, value: ''
    .lesson_form__label_and_input
      = f.label :teacher_id, class: 'required'
      = f.select :teacher_id, current_school.decorate.teachers_select_array, selected: current_teacher.id
    .lesson_form__label_and_input
      = f.label :start_at_date
      .lesson_form__datetime_select
        = f.date_field :start_at_date, value: Time.zone.today
        = f.select :start_at_hour, (0..23).map{|e| [format('%02d', e), e]}, selected: Time.zone.now.hour
        = f.label :start_at_hour, '時'
        = f.select :start_at_min, (0..5).map{|e| [format('%02d', e*10), e*10]}, selected: Time.zone.now.min.floor(-1)
        = f.label :start_at_min, '分'
    .lesson_form__label_and_input
      = f.label :end_at_date
      .lesson_form__datetime_select
        = f.date_field :end_at_date
        = f.select :end_at_hour, (8..21).map{|e| [format('%02d', e), e]}, include_blank: true
        = f.label :end_at_hour, '時'
        = f.select :end_at_min, (0..5).map{|e| [format('%02d', e*10), e*10]}, include_blank: true
        = f.label :end_at_min, '分'
    .lesson_form__check_box.flex
      %p.mr8 タグ
      = f.collection_check_boxes :tag_ids, @tags, :id, :name, include_hidden: false do |b|
        = b.label { b.check_box + b.text }
    = f.submit '登録する', class: 'lesson_form__submit_btn'
