- if lessons.size > 0
  .mt56.ml24= "#{lesson_group.school_building.name}#{lesson_group.name}の授業一覧"
  %table.o-table-simple.mr40
    %thead.o-table-simple__thead
      %th.o-table-simple__th= Lesson.human_attribute_name(:name)
      %th.o-table-simple__th= Lesson.human_attribute_name(:teacher_id)
      %th.o-table-simple__th 課題数
      %th.o-table-simple__th 課題設定
      %th.o-table-simple__th
    - lessons.each do |lesson|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= lesson.name
        %td.o-table-simple__td= lesson.teacher.name
        %td.o-table-simple__td= lesson.questions.size
        %td.o-table-simple__td= link_to '課題設定', new_teacher_lesson_question_path(lesson)
        %td.o-table-simple__td= link_to "課題チェック#{'(' + lesson.checking_count.to_s + ')' if lesson.checking_count > 0}", teacher_answer_check_path(lesson)
