- if lessons.size > 0
  %h3.mt56.ml24= "#{lessons.first.lesson_group.school_building.name}/#{lessons.first.lesson_group.name}"

  %table.o-table-simple.mr40
    %thead.o-table-simple__thead
      %th.o-table-simple__th= Lesson.human_attribute_name(:name)
      %th.o-table-simple__th= Lesson.human_attribute_name(:teacher_id)
      %th.o-table-simple__th 課題設定
      %th.o-table-simple__th 課題チェック
    - lessons.includes(:teacher).each do |lesson|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= lesson.name
        %td.o-table-simple__td= lesson.teacher.name
        %td.o-table-simple__td
          - if lesson.questions.exists?
            = link_to '追加', new_teacher_lesson_question_path(lesson), class: 'a-button a-button--secondary'
          - else
            = link_to '作成', new_teacher_lesson_question_path(lesson), class: 'a-button a-button--primary'

        %td.o-table-simple__td
          - if lesson.should_check?
            = link_to "未チェックあり", teacher_answer_check_path(lesson), class: 'a-button a-button--primary'
          - elsif lesson.questions.exists?
            = link_to "チェック", teacher_answer_check_path(lesson), class: 'a-button a-button--secondary'
