- if @lesson_groups.size == 0
  .mt16.ml16 担当の講座はまだありません。

.o-question-set
  .o-question-set__lesson-groups
    - if @lesson_groups.size > 0
      .mt56.ml24 担当授業の講座一覧
      %table.o-table-simple.mr40
        %thead.o-table-simple__thead
          %th.o-table-simple__th 対象学年
          %th.o-table-simple__th 校舎名
          %th.o-table-simple__th 講座名
          %th.o-table-simple__th
        - @lesson_groups.each do |lesson_group|
          %tr.o-table-simple__tr
            %td.o-table-simple__td= lesson_group.decorate.target_school_grade
            %td.o-table-simple__td= lesson_group.school_building.name
            %td.o-table-simple__td
              = lesson_group.name
              - if lesson_group.to_check_status_exists_of?(current_teacher)
                %i.far.fa-bell.a-text-caution

            %td.o-table-simple__td{ id: "js-lesson_group--#{lesson_group.id}"}= link_to '一覧', lessons_show_teacher_question_set_path(lesson_group), remote: true, class: 'a-button a-button--secondary'
  .o-question-set__lessons
    #js-lessons_table
      - if @lesson
        = render 'teacher/question_set/lessons_table', lesson_group: @lesson.lesson_group, lessons: @lesson.lesson_group.lessons
