- if @lesson_groups.size == 0
  .mt16.ml16= "#{current_teacher.name}先生担当の講座はまだありません。"
- to_check_count = 0
.o-question-set
  .o-question-set__lesson-groups
    - if @lesson_groups.size > 0
      %h3.mt56.ml24 担当講座一覧
      .flex-sparo
        %table.o-table-simple.mr40
          %thead.o-table-simple__thead
            %th.o-table-simple__th 対象学年
            %th.o-table-simple__th 校舎名
            %th.o-table-simple__th 講座名
            %th.o-table-simple__th
          - @lesson_groups.includes(:school_building).each do |lesson_group|
            :ruby
              if @lesson&.lesson_group ==  lesson_group
                button_class = 'a-button a-button--primary'
              else
                button_class = 'a-button a-button--secondary'
              end
            %tr.o-table-simple__tr{ id: "js-lesson_group-tr--#{lesson_group.id}"}
              %td.o-table-simple__td= lesson_group.decorate.target_school_grade
              %td.o-table-simple__td= lesson_group.school_building.name
              %td.o-table-simple__td
                = lesson_group.name
              %td.o-table-simple__td.js-lessons-show-button
                = link_to '一覧', lessons_show_teacher_question_set_path(lesson_group), remote: true, class: lesson_group.decorate.lessons_show_button_html_class(@lesson), id: "js-lesson_group--#{lesson_group.id}"
                - if lesson_group.to_check_status_exists_of?(current_teacher)
                  .a-text-caution 未チェックあり
                  - to_check_count += 1
      - if to_check_count == 0
        .a-text-primary.a-text-large.u-text-align--center.mt16 未チェックはありません
  .o-question-set__lessons
    #js-lessons_table
      - if @lesson
        = render 'teacher/question_set/lessons_table', lesson_group: @lesson.lesson_group, lessons: @lesson.lesson_group.lessons.includes(:teacher).taught_by(current_teacher)
