- content_for(:back_path, school_users_path)
.o-profile.pb24
  .o-profile__head
    .m-heading-line
      .m-heading-line__text.flex-spbet-end
        %h1.a-text-secondary.a-text-xlarge 入学リクエスト
    .a-text-primary.ml8 招待コードを入力してください
= form_with url: join_requests_path, local: true do |f|
  .flex.pr8.pl8
    = text_field_tag :invitation_code, nil, { class: 'a-text-field' }
    = f.submit 'リクエスト', class: 'ml8 a-button-primary'
%table.mt24.ml24
  %thead
    %th 学校名
    %th 校舎名
    %th 状態
  - current_user.join_requests.where.not(id: nil).each do |request|
    %tr
      %td.pr8= request.school.name
      %td.pr8= request.school_building.name
      %td.pr8= request.status_i18n
