LINEで新規登録完了。情報を入力してください。
.div
  = form_with model: @user, url: create_by_line_users_paths,  local: true do |f|
    = render 'shared/error_messages', model_object: @user
    .o-profile__body
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium.u-after-required= f.label :name
          .m-profile-item__body
            .m-profile-item__item= f.text_field :name,  class: 'a-text-field'
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium.u-after-required= f.label :name_kana
          .m-profile-item__body
            .m-profile-item__item= f.text_field :name_kana, class: 'a-text-field'
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium.u-after-required= f.label :birth_day
          .m-profile-item__body
            .m-profile-item__item= f.date_field :birth_day, class: 'a-text-field'
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium.u-after-required= f.label :school_grade
          .m-profile-item__body
            .m-profile-item__item= f.select :school_grade, SCHOOL_GRADE_HASH.invert, { include_blank: true, selected: '' }, { class: 'a-select' }
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium= f.label :email
          .m-profile-item__body
            .m-profile-item__item= f.email_field :email, class: 'a-text-field'
      .o-profile__item
        .m-profile-item
          .m-profile-item__submit_button
            .m-profile-item__item= f.submit '新規登録', class: 'a-submit-button'
