.flex-sparo.mt24
  %h2.a-text-primary.a-text-xlarge
    = "#{@user.name}さんの所属校登録"
  .wrap
    = link_to '戻る', teacher_user_path(@user), class: 'a-button a-button--secondary'
%hr
.flex-sparo.mt24
  %table.o-table-simple.mr40
    %thead.o-table-simple__thead
      %th.o-table-simple__th 校舎名
      %th.o-table-simple__th 所属状態
      %th.o-table-simple__th 所属アクション
      %th.o-table-simple__th 所属解除
    %tr.o-table-simple__tr
      %td.o-table-simple__td= @user.main_school_building(current_teacher_school).name
      %td.o-table-simple__td 本所属
      %td.o-table-simple__td -
      %td.o-table-simple__td -
    - @user.sub_school_buildings(current_teacher_school).each do |school_building|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= school_building.name
        %td.o-table-simple__td 所属
        %td.o-table-simple__td= link_to '本所属へ', teacher_user_school_building_user_path(@user, school_building), method: :patch, class: 'a-button a-button--primary'
        %td.o-table-simple__td= link_to '解除', teacher_user_school_building_user_path(@user, school_building), method: :delete, class: 'a-button a-button--danger'
    - @user.school_buildings_not_belong_to(current_teacher_school).each do |school_building|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= school_building.name
        %td.o-table-simple__td -
        %td.o-table-simple__td= link_to '所属へ', teacher_user_school_building_user_path(@user, school_building), method: :post, class: 'a-button a-button--secondary'
        %td.o-table-simple__td
