= "#{@user.name}さんの所属校・他校受講校登録"
.user_form
  = form_with url: teacher_user_school_building_users_path(@user), model: @school_building_user, local: true do |f|
    = render 'shared/error_messages', model_object: @school_building_user
    .user_form__label_and_input
      = f.label :school_building_id, class: 'required'
      = f.select :school_building_id, (current_teacher.school_buildings - @user.school_buildings).map{|s_b| [s_b.name, s_b.id]}, include_blank: true
    .user_form__label_and_input--checkbox
      = f.label :main
      = f.check_box(:main, {checked: false})
    = f.submit '登録する', class: 'user_form__submit_btn'
%hr
%hr
- @school_building_users.each do |school_building_user|
  = school_building_user.school_building.name
  - if school_building_user.main?
    (所属校)
  - else
    = link_to '削除', teacher_user_school_building_user_path(@user, school_building_user), method: :delete, class: 'btn  btn-samll btn-danger', data: {confirm: "本当に削除しますか？"}
  %hr
