- content_for(:back_path, root_path)

.o-profile.pb24
  .o-profile__head
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 基本情報
        = link_to edit_users_path do
          %i.far.fa-edit.ml8.a-text-secondary.a-text-medium
  .o-profile__body
    .o-profile__item
      .m-profile-item
        = form_with model: current_user, url: users_path, local: true do |f|
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium 画像
          .m-profile-item__body
            .m-profile-item__item
              .m-user-image-form
                .m-user-image-form__image
                  - if current_user.image.present? # ユーザーに画像を登録させる。
                    = image_tag current_user.image_url, class: 'a-user-image'
                  - else
                    .a-user-image--no-image No Image
    .o-profile__item
      .m-profile-item
        .m-profile-item__title
          %h2.a-text-secondary.a-text-medium ユーザーID
        .m-profile-item__body
          .m-profile-item__item
            .a-text-primary.a-text-xlarge= current_user.id
    .o-profile__item
      .m-profile-item
        .m-profile-item__title
          %h2.a-text-secondary.a-text-medium ニックネーム
        .m-profile-item__body
          .m-profile-item__item
            .a-text-primary.a-text-xlarge= current_user.name
    .o-profile__item
      .m-profile-item
        .m-profile-item__title
          %h2.a-text-secondary.a-text-medium 学年
        .m-profile-item__body
          .m-profile-item__item
            .a-text-primary.a-text-xlarge= school_grade_to_s(current_user.school_grade)
- if current_school
  .o-profile
    .o-profile__head
      .m-heading-line
        .m-heading-line__text
          %h1.a-text-secondary.a-text-xlarge 学校・塾情報
    .o-profile__body
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium 学校名
          .m-profile-item__body
            .m-profile-item__item
              .a-text-primary.a-text-xlarge= current_school&.name
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium 所属
          .m-profile-item__body
            .m-profile-item__item
              .a-text-primary.a-text-xlarge= "#{ current_user.main_school_building(current_school).name} (所属)"
            - current_user.sub_school_buildings(current_school).each do |school_building|
              .m-profile-item__item
                .a-text-primary.a-text-xlarge= school_building.name
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            %h2.a-text-secondary.a-text-medium 受講講座
          .m-profile-item__body
            -if current_user.lesson_groups_in(current_school).blank?
              .m-profile-item__item
                .a-text-secondary.a-text-small
                  %span 受講講座はまだありません
                .mt16.mb24
                  = link_to '受講リクエスト',lesson_group_requests_path, class: 'a-button-primary'

            - current_user.lesson_groups_in(current_school).each do |lesson_group|
              .m-profile-item__item
                .a-text-primary.a-text-xlarge= lesson_group.name
            .mt16.mb24
              = link_to '受講リクエスト',lesson_group_requests_path, class: 'a-button-primary'

- else
  .o-profile
    .o-profile__head
      .m-heading-line
        .m-heading-line__text
          %h1.a-text-secondary.a-text-xlarge 学校・塾情報
    .o-profile__body
      .o-profile__item
        .m-profile-item
          .m-profile-item__title
            - if current_user.schools.size > 0
              %h2.a-text-secondary.a-text-medium
                %span 未選択
                = link_to '学校選択', school_users_path
            - else
              %h2.a-text-secondary.a-text-medium
                %span 所属なし
              .mt16.ml24.mb24
                = link_to '入学リクエスト',new_join_request_path, class: 'a-button-primary'

.o-profile
  .o-profile__head
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 通知設定
  - if current_user.user_authentication.provider == 'email'
    = render 'email_notification_setting'
  - else
    = render 'line_notification_setting'
.o-profile
  .o-profile__head
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 学校切り替え
  .o-profile__body
    .o-profile__item
      .mt8.mb24
        = link_to '学校切り替え', school_users_path, class: 'a-button-secondary'
.o-profile
  .o-profile__head
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge ログアウト
  .o-profile__body
    .o-profile__item
      = link_to 'ログアウトする', logout_path, method: :delete, class: 'a-button-danger'
.o-profile
  .o-profile__head
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 規約・プライバシーポリシー
  .o-profile__body
    .o-profile__item
      = link_to '利用規約', terms_terms_path, target: :_blank, rel: "noopener noreferrer"
    .o-profile__item
      = link_to 'プライバシーポリシー', privacy_policy_terms_path, target: :_blank, rel: "noopener noreferrer"
