.div=  "#{current_user.name}さん"
.div= "現在の学校: #{ current_school.name }"
%hr

=form_with url: change_school_users_path do |f|
  .div
    = f.label :school_id, '学校切り替え'
  = f.select :school_id, current_user.decorate.change_school_select_array([current_school])
  =f.submit '学校を切り替える', class: 'ml24'


= image_tag ('line_btn_base.png'), art: 'line'
= link_to 'LINE通知登録', line_api_index_path, method: :post

.mt40
  = link_to 'LINE通知テスト', send_message_line_api_index_path, method: :post

.mt40= link_to 'ログアウト', logout_path, method: :delete

.mt40= link_to 'トップ', root_path
