= form_with model: @user_authentication, url: create_user_authentication_by_email_users_path, local: true do |f|
  = render 'shared/error_messages', model_object: @user_authentication
  .o-profile__item
    .m-profile-item
      .m-profile-item__title
        %h2.a-text-secondary.a-text-medium= f.label :uid, 'メールアドレス'
      .m-profile-item__body
        .m-profile-item__item= f.email_field :uid, class: 'a-text-field'
  .o-profile__item
    .m-profile-item
      .m-profile-item__submit_button
        .m-profile-item__item= f.submit '新規登録', class: 'a-submit-button'
