<header>
  <nav class="navbar navbar-light bg-light navbar1">
      <%# <%= link_to root_path, class: "navbar-brand navbar1_a", data: {"turbolinks" => false} do %>
        <%# <%= image_tag "marutsuke.jpeg", class: "img-fluid navbar1_a_img" %>
      <%# <% end %>
       <%=link_to "MARUTSUKE",root_path,data:{"turbolinks"=>false},class:""%>
    <button class="navbar-toggler navbar1_button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar1_button_icon"></span>
    </button>
    <div class="collapse navbar-collapse header-menu" id="navbarNav">
      <ul class="navbar-nav header-menu_list">
          <%if current_user&.admin%>
        <li class="nav-item active">
          <%= link_to 'ユーザー管理', admin_users_path, method: :get, class: "nav-link f header-menu_list_a" %>
        </li>
          <%end%>
        <%if current_user%>
          <li class="nav-item active">
            <%= link_to '本の出版・編集をする', new_book_path, method: :get, class: "nav-link f header-menu_list_a" %>
          </li>
          <li class="nav-item active">
            <%= link_to '本を購入する', buy_index_path, method: :get, class: "nav-link f header-menu_list_a" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link f header-menu_list_a" %>
          </li>
        <%else%>
          <li class="nav-item active">
            <%= link_to 'ログイン', login_path, method: :get, class: "nav-link f header-menu_list_a" %>
          </li>
        <%end%>
      </ul>
    </div>
  </nav>
</header>
