.flex-sparo.u-width-wrap--100per
  = form_with model: [:teacher, teacher], local: true do |f|
    = render 'shared/error_messages', model_object: teacher
    .u-display-table
      .u-display-table-row
        .u-display-table-cell
          = f.label :name, class: 'a-form-label required'
        .u-display-table-cell.mb24
          = f.text_field :name, class:  'a-form-text-field'
        .u-display-table-cell.mb24
      .u-display-table-row
        .u-display-table-cell
          = f.label :email, class: 'a-form-label required'
        .u-display-table-cell.mb24
          = f.email_field :email, class:  'a-form-text-field'
      .u-display-table-row
        .u-display-table-cell
          = f.label :start_at_date, class: 'a-form-label required'
        .u-display-table-cell
          .m-form-date-hour-min
            = f.date_field :start_at_date, value: teacher.start_at&.to_date || Time.zone.today, class: 'm-form-date-hour-min__date'
            = f.select :start_at_hour, (0..23).map{|e| [format('%02d', e), e]}, { selected: teacher.start_at&.hour || Time.zone.now.hour }, { class: 'm-form-date-hour-min__hour' }
            = f.label :start_at_hour, '時', class: 'm-form-date-hour-min__hour-label'
            = f.select :start_at_min, (0..5).map{|e| [format('%02d', e*10), e*10]}, { selected: teacher.start_at&.min&.floor(-1) || Time.zone.now.min.floor(-1) }, { class: 'm-form-date-hour-min__min' }
            = f.label :start_at_min, '分', class: 'm-form-date-hour-min__min-label'
      .u-display-table-row
        .u-display-table-cell
          = f.label :end_at_date, class: 'a-form-label'
        .u-display-table-cell
          .m-form-date-hour-min
            = f.date_field :end_at_date, value: teacher.end_at&.to_date, class: 'm-form-date-hour-min__date'
            = f.select :end_at_hour, (0..23).map{|e| [format('%02d', e), e]}, { selected: teacher.end_at&.hour }, { class: 'm-form-date-hour-min__hour' }
            = f.label :end_at_hour, '時', class: 'm-form-date-hour-min__hour-label'
            = f.select :end_at_min, (0..5).map{|e| [format('%02d', e*10), e*10]}, { selected: teacher.end_at&.min&.floor(-1) }, { class: 'm-form-date-hour-min__min' }
            = f.label :end_at_min, '分', class: 'm-form-date-hour-min__min-label'

      - if password_show
        .u-display-table-row
          .u-display-table-cell
            = f.label :password, class: 'a-form-label required'
          .u-display-table-cell
            = f.password_field :password, class: 'a-form-text-field'
        .u-display-table-row
          .u-display-table-cell
            = f.label :password_confirmation, class: 'a-form-label required'
          .u-display-table-cell
            = f.password_field :password_confirmation, class: 'a-form-text-field'
      .u-display-table-row
        .u-display-table-cell
        .u-display-table-cell
          .flex-end
            = f.submit '登録', class: 'a-button a-button--primary'
