.o-profile
  .o-profile__content
    .o-profile__header
      .m-heading.m-heading--line
        .m-heading__text
          %h2.a-text-primary.a-text-huge 教員プロフィール
        .m-heading__button
        .a-text-xlarge= link_to '戻る',  teacher_teachers_path, class: 'a-button a-button--secondary'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 教員名
        .m-profile-item__body.flex-spbet
          .a-text-primary.a-text-xlarge= @teacher.name
          = link_to '編集', edit_teacher_teacher_path(@teacher), class: 'a-button a-button--edit'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large メールアドレス
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @teacher.email
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 所属校
        .m-profile-item__body
          %ul.u-width-wrap-100per
            %li.flex-spbet
              .a-text-primary.a-text-large= "#{ @teacher.main_school_building.name }(本所属)"
              =link_to '所属変更', new_teacher_teacher_school_building_teacher_path(@teacher), class:  'a-button  a-button--edit ml40'
            - @teacher.sub_school_buildings.each do |school_building|
              %li.flex-spbet
                .a-text-primary.a-text-large= school_building.name
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 担当講座
        .m-profile-item__body
          %ul.u-width-wrap-100per
            - unless LessonGroup.have_lesson_taught_by(@teacher).exists?
              .a-text-primary.a-text-large 担当はまだありません
            - LessonGroup.have_lesson_taught_by(@teacher).each do |lesson_group|
              %li.flex-spbet
                .a-text-primary.a-text-large= lesson_group.name
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 業務開始日時
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @teacher.decorate.start_at
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 業務終了日時
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @teacher.decorate.end_at
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large アカウント有効
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @teacher.decorate.activated_status
