<%= render "shared/header" %>
<div class="breadcrumbs"><%= @section.chapter.book.title %> > <%= @section.chapter.chapter%> > <%= @section.section%>
<%= link_to '問題を追加する', new_section_question_path(@section), method: :get, class: "float-right" %>
</div>


<%# レンダー先のビューサンプル %>

<div class="row justify-content-around questions animated bounceInDown faster">
<% i=1 %>
<% @questions.each do |question|%>
  <div class="card off col-10 col-lg-5 question-card">
    <%if question.image %>
      <img src="question.imgage" class="card-img-top" alt="画像">
    <%end%>  
    <div class="card-body">
      <h5 class="card-title question-text">[<%=i%>]</h5>
      <p class="card-text question-text"><%= question.text %></p>
      <%= link_to "解答する",section_question_path(@section,question), class: "btn btn-primary question-text" %>
    </div>
  </div>
  <%i =  i+1%>
<%end%>
</div>
<%#             %>
