=link_to '入学リクエスト一覧', teacher_join_requests_path
%hr
.o-search-form
  %h3.o-search-form__title 生徒検索
  = search_form_for(@q, url: teacher_users_path) do |f|
    .o-search-form__label_forms
      .m-label-and-input
        = f.label :id_eq, '生徒ID', class: 'm-label-and-input__label'
        = f.search_field :id_eq, class: 'm-label-and-input__input'
      .m-label-and-input
        = f.label :name_cont, '名前', class: 'm-label-and-input__label'
        = f.search_field :name_cont, class: 'm-label-and-input__input'
    .o-search-form__label_forms
      .m-label-and-input
        = f.label :school_building_users_school_building_id_eq, '所属校', class: 'm-label-and-input__label'
        = f.select :school_building_users_school_building_id_eq,  current_teacher.decorate.school_building_select_array, { include_blank: '', selected: @school_building_id || '' }, {  class: 'm-label-and-input__input' }
      .m-label-and-input
        = f.label :lesson_group_users_lesson_group_id_eq, '受講講座', class: 'm-label-and-input__label'
        = f.select :lesson_group_users_lesson_group_id_eq,  current_teacher.decorate.lesson_groups_search_select_array, { include_blank: '', selected: @lesson_group_id || '' }, { class: 'm-label-and-input__input' }
    = f.hidden_field :school_building_users_main_eq, value: true
    .o-search-form__button_area
      .m-button-set
        = link_to 'クリア', teacher_users_path, class: 'a-button a-button--cancel'
        = f.submit '検索', class: 'a-button a-button--primary'
%hr
- if @users.present?
  = paginate @users
  %table.o-table-simple
    %thead.o-table-simple__thead
      %th.o-table-simple__th= User.human_attribute_name(:id)
      %th.o-table-simple__th= User.human_attribute_name(:name)
      %th.o-table-simple__th 学年
      %th.o-table-simple__th 所属校舎
      %th.o-table-simple__th アカウント開始日
      %th.o-table-simple__th アカウント終了日
      %th.o-table-simple__th アカウント設定
    - @users.each do |user|
      - school_user = user.school_user(current_teacher_school)
      %tr.o-table-simple__tr
        %td.o-table-simple__td= user.id
        %td.o-table-simple__td= user.name
        %td.o-table-simple__td= user.decorate.school_grade_to_s
        %td.o-table-simple__td= user.main_school_building(current_teacher_school)&.name || '所属なし'
        %td.o-table-simple__td= school_user.decorate.start_at
        %td.o-table-simple__td= school_user.decorate.end_at
        %td.o-table-simple__td= link_to '設定', teacher_user_path(user)
  = paginate @users


- else
  %p 生徒はまだいません
