=link_to '生徒を招待する', new_teacher_user_invitation_mail_path
%hr
- if @users.present?
  = paginate @users
  %table.o-table-simple
    %thead.o-table-simple__thead
      %th.o-table-simple__th= SchoolUser.human_attribute_name(:id)
      %th.o-table-simple__th= User.human_attribute_name(:name)
      -# %th.o-table-simple__th 学年
      %th.o-table-simple__th 所属校舎
      %th.o-table-simple__th アカウント有効日
    - @users.each do |user|
      - school_user = current_teacher_school.school_users.find_by(user_id: user.id)
      %tr.o-table-simple__tr
        %td.o-table-simple__td= school_user.id
        %td.o-table-simple__td= link_to user.name, teacher_user_path(user)
        %td.o-table-simple__td= user.main_school_building(current_teacher_school)&.name || '所属なし'
        %td.o-table-simple__td= school_user.decorate.activated_at
  = paginate @users

- else
  %p 生徒はまだいません
