.o-profile
  .o-profile__user_image
    .m-user-image
      .m-user-image__image
        - if @user.image.present? # ユーザーに画像を登録させる。
          = image_tag @user.image_url, class: 'a-user-image'
        - else
          .a-user-no-image No Image
  .o-profile__content
    .o-profile__header
      .m-heading.m-heading--line
        .m-heading__text
          %h2.a-text-primary.a-text-huge 受講講座一覧
        .a-text-xlarge= link_to '戻る',  lesson_group_registration_teacher_users_path
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 生徒ID
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.id
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large ニックネーム
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.name
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 学年
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.decorate.school_grade_to_s
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 所属校
        .m-profile-item__body
          %ul
            %li.a-text-primary.a-text-large= "#{ @user.main_school_building(current_teacher_school).name }(所属)"
            - @user.sub_school_buildings(current_teacher_school).each  do |school_building|
              %li.a-text-primary.a-text-large= school_building.name
%hr
.flex-sparo.mt24
  .div 講座一覧
  .div
    = link_to '受講講座追加・削除', new_teacher_user_lesson_group_user_path(@user), class: 'a-text-large'

.mb48.flex-cen
  - if @lesson_groups.present?
    %table.o-table-simple.mr40
      %thead.o-table-simple__thead
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_year)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_building_id)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:name)
        %th.o-table-simple__th= LessonGroup.human_attribute_name(:target_school_grade)
      - @lesson_groups.each do |lesson_group|
        %tr.o-table-simple__tr
          %td.o-table-simple__td= lesson_group.school_year
          %td.o-table-simple__td= lesson_group.school_building.name
          %td.o-table-simple__td= lesson_group.name
          %td.o-table-simple__td= lesson_group.decorate.target_school_grade
