.o-profile
  .o-profile__user_image
    .m-user-image
      .m-user-image__image
        - if @user.image.present? # ユーザーに画像を登録させる。
          = image_tag @user.image_url, class: 'a-user-image'
        - else
          .a-user-no-image No Image
      .m-user-image__name
        .a-text-primary.a-text-xlarge= "氏名: #{ @user.name }"
      .m-user-image__kana
        .a-text-secondary.a-text-medium (ふりがなかりかり)
      .m-user-image__id
        .a-text-secondary.a-text-medium= "生徒ID: #{ @user.id }"
  .o-profile__content
    .o-profile__header
      .m-heading.m-heading--line
        .m-heading__text
          %h2.a-text-primary.a-text-huge プロフィール
        .m-heading__button
        .a-text-xlarge= link_to '戻る',  lesson_group_registration_teacher_users_path
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 学年
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.decorate.school_grade_to_s
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large= SchoolUser.human_attribute_name(:start_at)
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @school_user.start_at || '-'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large= SchoolUser.human_attribute_name(:end_at)
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @school_user.end_at || '-'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 所属校
          = link_to new_teacher_user_school_building_user_path(@user) do
            %i.far.fa-edit.ml8.a-text-secondary.a-text-medium
        .m-profile-item__body
          %ul
            %li.a-text-primary.a-text-large= "#{ @user.main_school_building(current_teacher_school).name }(所属)"
            - @user.sub_school_buildings(current_teacher_school).each  do |school_building|
              %li.a-text-primary.a-text-large= school_building.name
