.o-profile
  .o-profile__user_image
    .m-user-image
      .m-user-image__image
        - if @user.image.present? # ユーザーに画像を登録させる。
          = image_tag @user.image_url, class: 'a-user-image'
        - else
          .a-user-no-image No Image
      .m-user-image__name
  .o-profile__content
    .o-profile__header
      .m-heading.m-heading--line
        .m-heading__text
          %h2.a-text-primary.a-text-huge プロフィール
        .m-heading__button
        .a-text-xlarge= link_to '戻る',  teacher_users_path, class: 'a-button a-button--secondary'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 生徒ID
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.id
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large ニックネーム
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.name
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 学年
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @user.decorate.school_grade_to_s
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large= SchoolUser.human_attribute_name(:start_at)
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @school_user.decorate.start_at || '-'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large= SchoolUser.human_attribute_name(:end_at)
        .m-profile-item__body
          .a-text-primary.a-text-xlarge= @school_user.decorate.end_at || '-'
    .o-profile__element
      .m-profile-item
        .m-profile-item__title
          .a-text-secondary.a-text-large 所属校
        .m-profile-item__body
          %ul
            %li.a-text-primary.a-text-large= "#{ @user.main_school_building(current_teacher_school).name }(所属)"
            - @user.sub_school_buildings(current_teacher_school).each  do |school_building|
              %li.a-text-primary.a-text-large= school_building.name
.flex-sparo.mt40
  .wrap
    = link_to '所属校舎編集', new_teacher_user_school_building_user_path(@user)
  .wrap
    = link_to 'アカウント開始・終了時間編集', edit_teacher_school_user_path(@user.school_user(current_teacher_school))
  .wrap
    = link_to '受講登録', new_teacher_user_lesson_group_user_path(@user)
