- content_for(:back_path, question_path(@question))
.user_answer_form
  .user_answer_form__error_messages
    = render 'shared/error_messages', model_object: @answer
  .user_answer_form__items
    = form_with model: @answer, local: true do |f|
      .user_answer_form__head
        .user_answer_form__title 解答欄
        .user_answer_form__image
          = f.fields_for @answer.answer_images.build do |ff|
            = image_tag 'add_photo_white.svg', class: 'user_answer_form__image_icon', onClick:"$('#upfile').click()"
            = ff.file_field :image, multiple: true, style:"display: none;", id:"upfile"
        #baloon
          .user_answer_form__image_caption.d-none
            %span (最大5MBまで・複数投稿できます)
        .user_answer_form__submit
          = f.submit '提出する', class: 'kadomaru-button--pk-wh'
      .user_answer_form__body
        = f.text_area :text, required: true, class: 'user_answer_form__input', placeholder: '解答を入力してください'
        = f.hidden_field :question_id, value: @question.id

    -# .user_answer_form__slide_in--toggle#slide_in_toggle
    -#   #slide_in_toggle_message 問題を見る
    -# .user_answer_form__slide_in#slide_in
    -#   .user_answer_form__slide_in__container
    -#     .question_info
    -#       .question_info__title= "#{@question.lesson.lesson_group.name}/#{@question.lesson.name}: 課題#{ @question.display_order }"
    -#       .question_info__text= "#{ @question.text } "
    -#       - if @question.image.present?
    -#         = image_tag @question&.image_url, alt: @question.image_alt, class: 'question_info__image', id: "modal-open"
