.flex-sparo
  %h2.mt16.ml16= "#{@school_building.name}の入学コードの設定"
  .mt16.ml16= link_to '戻る', teacher_school_building_settings_path, class: 'a-button a-button--secondary'
%hr
.flex-sparo.u-width-wrap--100per
  = form_with model: @school_building, url: teacher_school_building_path(@school_building.id), method: :patch, local: true do |f|
    = render 'shared/error_messages', model_object: @school_building
    .u-display-table
      .u-display-table-row
        .u-display-table-cell
          = f.label :invitation_code, class: 'a-form-label required'
        .u-display-table-cell
          = f.text_field :invitation_code, class: 'a-form-text-field'
          .a-text-note 半角英数字8文字以上
      .u-display-table-row
        .u-display-table-cell
          = f.label :auto_invite, class: 'a-form-label'
        .u-display-table-cell
          = f.check_box :auto_invite, class: 'a-form-checkbox'
          .a-text-note 入学リクエストを承認なしで受け入れます。
      .u-display-table-row
        .u-display-table-cell
          = f.label :invite_code_availability, class: 'a-form-label'
        .u-display-table-cell
          = f.check_box :invite_code_availability, class: 'a-form-checkbox'
          .a-text-note チェックを外すと招待コードが無効になります
      .u-display-table-row
        .u-display-table-cell
        .u-display-table-cell
          .flex-end
            = f.submit '登録', class: 'a-button a-button--primary'

