.flex
  .o-questions
    .o-questions__headding
      .a-text-secondary.a-text-small= "#{@lesson_group.school_year || '-'}年度/#{@lesson_group.school_building.name}"
      .flex-spbet-end
        .a-text-primary.a-text-xlarge= "#{@lesson_group.name}/#{@lesson.name}"
        .a-text-primary= "提出受付期間:#{@lesson.decorate.start_to_end_time}"
    .o-questions__contents
      .o-questions__top
        .flex-spbet
          .a-text-primary.a-text-xlarge= "課題#{@question.display_order}#{'(下書き)' if !@question.publish}"
      .o-questions__content{class: @question.decorate.unpublish_opacity_class}
        .m-question
          - if @question&.image_url
            = image_tag @question.image_url, alt: @question.image_alt, class: 'm-question__image'
          .m-question__text{class: @question.decorate.unpublish_opacity_class}= simple_format(@question.text)
          .m-question__note-head
            .a-text-secondary メモ
          .m-question__note
            .a-text-note= @question.note
      .mt56.pl24
        .u-width-wrap-120
          = link_to '課題削除', teacher_question_path(@question), method: :delete, class: 'a-button a-button--danger', data: { confirm: '本当に削除しますか？' }
  .o-question-form-group
    .o-question-form-group__hedding
      .a-text-primary.a-text-xlarge 課題編集画面
      = link_to '戻る', new_teacher_lesson_question_path(lesson_id: @lesson.id), class: 'a-button a-button--secondary'
    .o-question-form-group__body
      = render 'form', question: @question, lesson: @lesson, submit_word: '編集する'
