.flex
  .o-questions
    .o-questions__headding
      .a-text-secondary.a-text-small= "#{@lesson_group.school_year || '-'}年度/#{@lesson_group.school_building.name}"
      .flex-spbet-end
        .a-text-primary.a-text-xlarge= "#{@lesson_group.name}/#{@lesson.name}"
        .a-text-primary= "提出受付期間:#{@lesson.decorate.start_to_end_time}"
    .o-questions__contents
      - @questions.each do |question|
        .o-questions__top
          .flex-spbet
            .a-text-primary.a-text-xlarge= "課題#{question.display_order}#{'(下書き)' if !question.publish}"
            = link_to '編集', edit_teacher_question_path(question), class: 'a-text-xlarge'
        .o-questions__content{class: question.decorate.unpublish_opacity_class}
          .m-question
            - if question&.image_url
              = image_tag question.image_url, alt: question.image_alt, class: 'm-question__image'
            .m-question__text{class: question.decorate.unpublish_opacity_class}= simple_format(question.text)
            .m-question__note-head
              .a-text-secondary メモ
            .m-question__note
              .a-text-note= question.note
  .o-question-form-group
    .o-question-form-group__hedding
      .a-text-primary.a-text-xlarge 課題作成画面
      = link_to '課題管理に戻る', teacher_question_set_index_path(lesson_id: @lesson.id), class: 'a-text-large'
    .o-question-form-group__body
      = form_with model: [:teacher, @question], local: true do |f|
        =render 'shared/error_messages', model_object: @question
        .o-question-form-group__form-set
          .m-form-vertical-set
            .m-form-vertical-set__label
              = f.label :display_order, class: 'a-form-label required'
            .m-form-vertical-set__select
              = f.select :display_order, @lesson.decorate.display_order_select_array, {}, {class: 'a-form-select--narrow'}
        .o-question-form-group__form-set
          .m-form-vertical-set
            .m-form-vertical-set__label
              = f.label :text, class: 'a-form-label required'
            .m-form-vertical-set__textarea
              = f.text_area :text, rows: '4', class: 'a-form-textarea'
        .o-question-form-group__form-set
          .m-form-vertical-set
            .m-form-vertical-set__label
              = f.label :note, class: 'a-form-label'
            .a-text-note 教員側画面に表示される課題に関するメモです。
            .m-form-vertical-set__textarea
              = f.text_area :note, rows: '3', class: 'a-form-textarea'
        .o-question-form-group__form-set
          .question_form__label_and_input.mb24
            .div.mb8
              %span.a-form-label 画像・1枚・最大5MBまで
            = f.file_field :image
        .o-question-form-group__form-set.mb24
          = f.check_box :publish, {class: 'a-form-checkbox', checked: false}, false, true
          = f.label :publish, '下書きで保存', class: 'a-form-checkbox-label'
        .o-question-form-group__submit
          = f.hidden_field :lesson_id, value: @lesson.id
          = f.submit '登録する', class: 'a-form-submit'
