<%= render "shared/header" %>

<div class="breadcrumbs float-right col-4">
  <h4 style="text-align:center;"><%= @book.title %></h4>
    <div class="book-edit">
      <%= form_with(model: @book) do |f|%>
      <%= f.text_field :title ,class: "col-8 mt-1",autocomplete:'off'%>
      <label for="book-image">
        <i class="fa fa-image book-edit-image"></i>
        <%= f.file_field :image, class: "col-8 mt-1", id: "book-image",style:"display:none;"%>
      </label>
      <%= f.submit "編集", class:"btn btn-success btn-sm  add-section section-lists mt-1 col-3 float-right"%>
    <%end%>
    </div>
  <div class="col-12 card float-right mt-5 mr-3">
    <div class="card-body">
      <div>章の追加</div>
      <%= form_tag("/books/#{@book.id}/chapters",method: :post) do%>
        <input type="text" class="col-8 mt-1" id="inlineFormInput" name="chapter" placeholder="" autocomplete="off">
        <input type="hidden" name="book_id" value="<%=@book.id%>">
        <button type="submit" class="btn btn-primary btn-sm  add-section section-lists col-3 float-right mt-1" style="min-width: 4rem;">追加</button>
      <% end %>
      <% if @book.image.url%>
        <%= image_tag("#{@book.image.url}",class:"rounded image-tag", alt:"画像") %>
      <%end%>
    </div>
  </div>
</div>
<% @chapters.each do|chapter| %>
  <div class="col-6 offset-1 card mt-5">
    <div class="card-body">
      <h5 class="card-title"><%= chapter.chapter %></h5>
      <div class="chapter-edit">
        <%= form_with(model:chapter) do |f|%>
          <%=f.text_field :chapter%>
          <%= f.submit "編集", class:"btn btn-success btn-sm"%>
        <%end%>
      </div>
      <div class="chapter-delete-div">
        <%= form_with(model:chapter,url:"/chapters/#{chapter.id}",method:"delete") do |f|%>
          <%= f.submit "章の削除", class: "btn btn-danger btn-sm col-1 float-right delete-chapter-btn mb-5 mr-5", style:"min-width: 8rem;",data:{confirm:"#{chapter.chapter}を削除します。本当によろしいですか。"}%>
        <%end%>
</div>
    </div>
    <ul class="list-group list-group-flush">
      <%chapter.sections.each do |section|%>
      <li class="list-group-item"><%= section.section %>
      <%= link_to '編集', new_section_question_path(section), method: :get, class: 'float-right',data: {"turbolinks" => false} %>
      </li>
      <% end %>
    </ul>
    <div class="card-body">
      <%= form_tag("/chapters/#{chapter.id}/sections",method: :post) do%>
        <input type="text" class="col-8 mt-1" id="inlineFormInput" name="section" placeholder=""  autocomplete="off">
        <input type="hidden" name="chapter_id" value="<%=chapter.id%>">
        <input type="hidden" name="book_id" value="<%=@book.id%>">
        <button type="submit" class="btn btn-primary btn-sm  add-section section-lists col-3 float-right mt-1" style="min-width: 4rem;">節の追加</button>
      <% end %>
    </div>
  </div>
<% end %>
<div class="book-delete-div">
    <%= form_with(model:@book,url:"/books/#{@book.id}",method:"delete") do |f|%>
      <%= f.submit "本の削除", class: "btn btn-danger btn-sm col-1 float-right delete-book-btn mb-5 mr-5", style:"min-width: 8rem;",data:{confirm:"#{@book.title}を削除します。本当によろしいですか。"}%>
    <%end%>
</div>
