<%= render "shared/header" %>
<div class="error-message">
  <%if @book.errors.any?%>
    <ul>
      <% @book.errors.messages.each_value do |message|%>
        <li class="error"><%= message[0]%></li>
      <%end%>
    </ul>
  <%end%>
  <h2 class="book_new_page">出版ページ</div>
  </div>
<div class="col-8 offset-2 card  mt-5 mb-3" >
  <div class="card-body">
    <h3>本の出版</h3>
    <%= form_with(model: @book, url: "/books",local:true) do |f|%>
      <div class="form-group">
        <%=f.label :title, "タイトル" %>
        <%= f.text_field :title ,class: "col-8 mt-1",autocomplete:'off'%>
      </div>
      <div class="form-group">
        <%=f.label :introduction, "紹介文", class:"float-left" %>
        <%=f.text_area :introduction,class:"col-8 ml-4", rows: "10"%>
      </div>
      <%=f.label :image, "表紙の画像", class:"float-left" %>
      <%= f.file_field :image, class: "col-8 mt-1", id: "book-image"%>
      <%= f.submit "追加", class:"btn btn-primary btn-sm  add-section section-lists col-1 float-right"%>
    <%end%>
  </div>
</div>
<%if current_user.admin%>
  <h4 class="your-book-index">全部の本</h4>
<%else%>
  <h4 class="your-book-index"> あなたの編集・出版した本一覧 </h4>
<%end%>
<% @books.each do|book| %>
  <div class="col-6 offset-3  card mt-5">
    <div class="card-body">
      <h5 class="card-title">
        <%= book.title %>
      </h5>
      <div class="book-image">
        <%if book.image&.url%>
         <%= image_tag("#{book.image.url}",class:"rounded image-tag", alt:"画像") %>
        <%end%>
      </div>
      <li class="" data-book_id = <%= book.id %> style="list-style:none;">
        <%=link_to "", edit_book_path(book.id),class:"fa fa-pencil-square-o icon"%>
      </li>
    </div>
    <div class="book-new-introduction">
      <%=simple_format(book.introduction)%>
    </div>
    <div class="book-new-smallquestion-count">
      小問:<%=book.small_questions.length%>問
    </div>
    <%if book.published%>
      <%=link_to "販売中止", publish_path(book.id),method: :patch,class:"btn btn-danger btn-sm col-3 offset-9 mb-3", data: { confirm: '出版を取り下げます。よろしいですか。' }%>
    <%else%>
      <%=link_to "出版する", publish_path(book.id),method: :patch, class:"btn btn-success btn-sm col-3 offset-9 mb-3", data: { confirm: '出版し公開ます。よろしいですか。' }%>
    <%end%>
    <ul class="list-group list-group-flush">
      <%book.chapters.each do |chapter|%>
      <li class="list-group-item"><%= chapter.chapter %></li>
      <% end %>
    </ul>
  </div>
<% end %>
