= render 'shared/header'
.user_form__title 管理者登録画面
.user_form
  = form_with model: [:admin, @admin], local: true do |f|
    = render 'shared/error_messages', model_object: @admin
    .user_form__label_and_input
      = f.label :name
      = f.text_field :name
    .user_form__label_and_input
      = f.label :email
      = f.email_field :email
    .user_form__label_and_input
      = f.label :password
      = f.password_field :password
    .user_form__label_and_input
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    = f.submit '登録する', class: 'user_form__submit_btn'
