.flex-sparo.mt24
  %h2.a-text-primary.a-text-xlarge
    = "#{@user.name}さん(#{@user.decorate.school_grade_to_s})の受講登録"
  .wrap
    = link_to '戻る', teacher_user_path(@user), class: 'a-button a-button--secondary'
%hr
.flex-sparo.mt24
  %table.o-table-simple.mr40
    %thead.o-table-simple__thead
      %th.o-table-simple__th= LessonGroup.human_attribute_name(:name)
      %th.o-table-simple__th= LessonGroup.human_attribute_name(:school_year)
      %th.o-table-simple__th= LessonGroup.human_attribute_name(:target_school_grade)
      %th.o-table-simple__th 受講
      %th.o-table-simple__th 受講解除
    - @user.lesson_groups_at_school_building(current_teacher_school_building).in_open.each do |lesson_group|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= lesson_group.name
        %td.o-table-simple__td= lesson_group.school_year
        %td.o-table-simple__td= lesson_group.decorate.target_school_grade
        %td.o-table-simple__td
        %td.o-table-simple__td= link_to '解除', teacher_user_lesson_group_user_path(user_id: @user.id, id: lesson_group.id), method: :delete, class: 'a-button a-button--danger'
    - @user.lesson_groups_not_taken_at_school_building(current_teacher_school_building).in_open.each do |lesson_group|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= lesson_group.name
        %td.o-table-simple__td= lesson_group.school_year
        %td.o-table-simple__td= lesson_group.decorate.target_school_grade
        %td.o-table-simple__td= link_to '受講', teacher_user_lesson_group_user_path(@user, lesson_group), method: :post, class: 'a-button a-button--primary'
        %td.o-table-simple__td





-# .user_form
-#   = form_with url: teacher_user_lesson_group_users_path(@user), model: @lesson_group_user, local: true do |f|
-#     = render 'shared/error_messages', model_object: @lesson_group_user
-#     .user_form__label_and_input
-#       = f.label :lesson_group_id, class: 'required'
-#       = f.select :lesson_group_id, @lesson_groups.map{|l_g| [l_g.name, l_g.id]}, include_blank: true
-#     = f.submit '登録する', class: 'user_form__submit_btn'
-# %hr
-# - @lesson_group_users.each do |lesson_group_user|
-#   .mr8
-#   = lesson_group_user.lesson_group.name
-#   = link_to '削除', teacher_user_lesson_group_user_path(@user, lesson_group_user), method: :delete, class: 'btn  btn-samll btn-danger', data: {confirm: "本当に削除しますか？"}
-#   %hr
