= "#{@user.name}さん受講講座登録ページ"

.user_form
  = form_with url: teacher_user_lesson_group_users_path(@user), model: @lesson_group_user, local: true do |f|
    = render 'shared/error_messages', model_object: @lesson_group_user
    .user_form__label_and_input
      = f.label :lesson_group_id, class: 'required'
      = f.select :lesson_group_id, @lesson_groups.map{|l_g| [l_g.name, l_g.id]}, include_blank: true
    = f.submit '登録する', class: 'user_form__submit_btn'
%hr
%hr
- @user.school_building_users.where.not(id: nil).main_order.each do |school_building_user|
  = school_building_user.school_building.name
  - if school_building_user.main?
    (所属校)
  - else
    = link_to '削除', teacher_user_school_building_user_path(@user, school_building_user), method: :delete, class: 'btn  btn-samll btn-danger'
  %hr
