.o-search-form.mt16
  %h3.o-search-form__title= "#{ current_teacher_school_building.name}の入学リクエスト一覧"
  = search_form_for(@q, url: teacher_join_requests_path) do |f|
    .o-search-form__label_forms
      .m-label-and-input
        = f.label :status_eq, '状態', class: 'm-label-and-input__label'
        = f.select :status_eq, JoinRequest.statuses.map{|k,v| [I18n.t("enums.join_request.status.#{k}"),v] }, { include_blank: '', selected: @status || '' }, { class: 'm-label-and-input__input' }
    .o-search-form__button_area
      .m-button-set
        = link_to 'クリア', teacher_join_requests_path, class: 'a-button a-button--cancel'
        = f.submit '検索', class: 'a-button a-button--primary'
.flex-sparo
  - if @join_requests.size == 0
    .mt24 未チェックの入学リクエストはありません
  - else
    %table.o-table-simple.mr40
      %thead.o-table-simple__thead
        %th.o-table-simple__th ニックネーム
        %th.o-table-simple__th 学年
        %th.o-table-simple__th 状態
        %th.o-table-simple__th 申請日時
        %th.o-table-simple__th 許可/拒否日時
        %th.o-table-simple__th
        %th.o-table-simple__th
      - @join_requests.each do |request|
        %tr.o-table-simple__tr
          %td.o-table-simple__td= request.user.name
          %td.o-table-simple__td= school_grade_to_s(request.user.school_grade)
          %td.o-table-simple__td= request.status_i18n
          %td.o-table-simple__td= request.decorate.created_at
          %td.o-table-simple__td= request.decorate.updated_at
          - if request.requested?
            %td.o-table-simple__td= link_to '拒否', reject_teacher_join_request_path(request), method: :patch, class: 'a-button a-button--danger'
            %td.o-table-simple__td= link_to '許可', accept_teacher_join_request_path(request), method: :patch, class: 'a-button a-button--primary'
          - else
            %td.o-table-simple__td.o-table-simple__td--150px-width
            %td.o-table-simple__td.o-table-simple__td--150px-width
