<%= render "shared/header" %>
<div class="card off col-10 col-lg-5 question-card">
  <%if @question.image %>
    <img src="question.imgage" class="card-img-top" alt="画像">
  <%end%>
  <div class="card-body">
    <h5 class="card-title question-text"></h5>
    <p class="card-text question-text"><%= @question.text %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% j = 1 %>
    <% @question.small_questions.each do |small_question|%>
    <li class="list-group-item"><span>(<%=j%>) </span><%= small_question.text %></li>
    <li>答え</li> 
    <li>
    <%small_question.answers.each do |answer| %>
      <%=answer.answer%>,
    <%end%>
    </li>
    <% j += 1%>
    <% end %>
    </ul>
</div>