.flex-sparo.u-width-wrap--100per
  = form_with model: current_teacher, url: teacher_mypage_index_path, method: :patch, local: true do |f|
    = render 'shared/error_messages', model_object: current_teacher
    .u-display-table
      .u-display-table-row
        .u-display-table-cell
          = f.label :name, class: 'a-form-label required'
        .u-display-table-cell.mb24
          = f.text_field :name, class:  'a-form-text-field'
          .a-text-note 12文字以内
      .u-display-table-row
        .u-display-table-cell
          = f.label :login_id, class: 'a-form-label required'
        .u-display-table-cell.mb24
          = f.text_field :login_id, class:  'a-form-text-field'
          .a-text-note 半角英数字8文字以上
      .u-display-table-row
        .u-display-table-cell
          = f.label :email, class: 'a-form-label'
        .u-display-table-cell.mb24
          = f.email_field :email, class:  'a-form-text-field'
      .u-display-table-row
        .u-display-table-cell
        .u-display-table-cell
          .flex-end
            = f.submit '登録', class: 'a-button a-button--primary'
