.m-question-card.m-question-card--opacity-02--tmp-delete
  .m-question-card__card-header
    .m-question-card__card-header-left
      .m-question-card__question-num.mr8= "課題#{ question.display_order }"
      %div{ id: "js-question-status-label--#{question.id}" }
        .m-question-card__question-status= question.question_status_of(current_user).decorate.status_label_link
  %div{ class: question.question_status_of(current_user).decorate.opacity_class, id: "js-opacity-target--#{question.id}"}
    = link_to question_path(question), class: 'u-text-decoration-none' do
      .m-question-card__question-content-wrap
        - if question.image.present?
          .m-question-card__image_wrap
            =image_tag question&.image_url, alt: question.image_alt, class: 'm-question-card__image'
          .m-question-card__text-wrap
            .m-question-card__text= question.text
        - else
          .m-question-card__text-wrap.m-question-card__text-wrap--width-100
            .m-question-card__text= question.text

