=render 'shared/header'

%table.user_lesson_table.ml24
  %thead.user_lesson_table__thead
    %th.user_lesson_table__th 開催予定の授業・講座
    %th.user_lesson_table__th= Lesson.human_attribute_name(:start_at)
    %th.user_lesson_table__th= Lesson.human_attribute_name(:end_at)
    %th.user_lesson_table__th= Lesson.human_attribute_name(:teacher_id)
  - if @going_lessons&.length == 0
    %tr.user_lesson_table__tr--nil
      %td.user_lesson_table__tr--nil{ colspan: '4' } 現在、開催予定の授業・講座は登録されていません。
  - @going_lessons&.each do |lesson|
    %tr.user_lesson_table__tr
      %td.user_lesson_table__tr= link_to lesson.name, lesson_path(lesson)
      %td.user_lesson_table__tr= lesson.decorate.start_at_for_user
      %td.user_lesson_table__tr= lesson.decorate.end_at_for_user
      %td.user_lesson_table__tr= lesson.teacher.name

%table.user_lesson_table.ml24
  %thead.user_lesson_table__thead
    %th.user_lesson_table__th 開講中の授業・講座
    %th.user_lesson_table__th= Lesson.human_attribute_name(:start_at)
    %th.user_lesson_table__th= Lesson.human_attribute_name(:end_at)
    %th.user_lesson_table__th= Lesson.human_attribute_name(:teacher_id)
  - if @doing_lessons&.length == 0
    %tr.user_lesson_table__tr--nil
      %td 現在、開講中の授業・講座は登録されていません。
  - @doing_lessons&.each do |lesson|
    %tr.user_lesson_table__tr
      %td.user_lesson_table__tr= link_to lesson.name, lesson_path(lesson)
      %td.user_lesson_table__tr= lesson.decorate.start_at_for_user
      %td.user_lesson_table__tr= lesson.decorate.end_at_for_user
      %td.user_lesson_table__tr= lesson.teacher.name

%table.user_lesson_table.ml24
  %thead.user_lesson_table__thead
    %th.user_lesson_table__th 期間終了の授業・講座
    %th.user_lesson_table__th= Lesson.human_attribute_name(:start_at)
    %th.user_lesson_table__th= Lesson.human_attribute_name(:end_at)
    %th.user_lesson_table__th= Lesson.human_attribute_name(:teacher_id)
  - if @done_lessons&.length == 0
    %tr.user_lesson_table__tr--nil
      %td 現在、期間終了の授業・講座は登録されていません。
  - @done_lessons&.each do |lesson|
    %tr.user_lesson_table__tr
      %td.user_lesson_table__tr= link_to lesson.name, lesson_path(lesson)
      %td.user_lesson_table__tr= lesson.decorate.start_at_for_user
      %td.user_lesson_table__tr= lesson.decorate.end_at_for_user
      %td.user_lesson_table__tr= lesson.teacher.name
