= render 'shared/lessons_header'
= render 'shared/lessons_tab'

- if @lessons&.length == 0
  .user_lesson_card--no_lessons
    .user_lesson_card--no_lessons__title= "現在、開催#{ @scope_text }の授業・講座は登録されていません。"
- else
  - @lessons.each do |lesson|
    =link_to lesson_path(lesson), class: 'user_lesson_card' do
      .user_lesson_card__content
        - if lesson.start_at < DateTime.now && DateTime.now < lesson.end_at
          .user_lesson_card__time.user_lesson_card__time--duration= lesson.decorate.start_to_end_time
        - else
          .user_lesson_card__time.user_lesson_card__time--expired= lesson.decorate.start_to_end_time
        .user_lesson_card__body
          .user_lesson_card__title= lesson.name
          .user_lesson_card__teacher= "担当: #{lesson.teacher.name}"
-# = render 'shared/footer', active_ele: 'list-alt', scope: @scope
