-# = render 'shared/lessons_tab'
.o-top-page
  .o-top-page__heading
    .m-heading-line.mt8
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 新しい課題
  .o-top-page__body
    .m-lesson-card
      %h2.m-lesson-card__title 小5算数/第2回
      .m-lesson-card__info 10/21 ~ 10/30 河野先生


- if @lessons&.length == 0
  .user_lesson_card--no_lessons
    .user_lesson_card--no_lessons__title= "現在、開催#{ @scope_text }の授業・講座は登録されていません。"
- else
  - @lessons.each do |lesson|
    =link_to lesson_path(lesson), class: 'user_lesson_card' do
      .user_lesson_card__content
        %div{class: "user_lesson_card__time--#{lesson.duration_judge_word}"}= lesson.decorate.start_to_end_time
        .user_lesson_card__body
          .user_lesson_card__title= lesson.name
          .user_lesson_card__teacher= "担当: #{lesson.teacher.name}"
