-# = render 'shared/lessons_tab'
.o-top-page
  - if @new_lessons&.length > 0
    .o-top-page__heading
      .m-heading-line.mt8
        .m-heading-line__text
          %h1.a-text-secondary.a-text-xlarge 新しい課題
    .o-top-page__body
      - @new_lessons.each do |lesson|
        = link_to lesson_path(lesson) do
          .m-lesson-card.mb16
            %h2.m-lesson-card__title= "#{ lesson.lesson_group.name}/#{lesson.name}"
            .m-lesson-card__info= "#{lesson.decorate.start_to_end_time}　#{lesson.teacher.name}"
    .o-top-page__heading
      .m-heading-line.mt8
        .m-heading-line__text
          %h1.a-text-secondary.a-text-xlarge 提出予定の課題
  - else
    .o-top-page__heading
      .m-heading-line.mt8
        .m-heading-line__text
          %h1.a-text-secondary.a-text-xlarge 授業
            現在提出するべき課題はありません!
