- content_for(:back_path, lesson_group_path(@lesson.lesson_group))
.m-lesson-header
  .m-lesson-header__term
    .a-text-secondary.a-text-small= @lesson.decorate.start_to_end_time
  .m-lesson-header__teacher
    .a-text-secondary.a-text-small= "担当: #{@lesson.teacher.name}"
  .flex-spbet-end
    .m-lesson-header__name
      #{@lesson.lesson_group.name}/#{@lesson.name}
.pr16.pl16.mt24
  - if @questions&.length == 0
    .mt24 現在、設定されている課題はありません。
  - else
    - @questions&.each do |question|
      - status = question.question_status_of(current_user).status
      = render 'question_card', question: question, status: status
