- content_for(:back_path, lesson_group_path(@lesson.lesson_group))

.o-user-index-page
  .o-user-index-page__heading
    .m-heading-line.mt8
      .m-heading-line__text.flex-spbet
        %h1.a-text-secondary.a-text-xlarge 課題一覧
        .wrap
          .a-text-secondary.a-text-xsmall.mb4= @lesson.decorate.start_to_end_time
          .a-text-secondary.a-text-xsmall= "担当: #{@lesson.teacher.name}"
    %h4.m-heading-sub.mt8.ml8
      .a-text-primary.a-text-small= "#{@lesson.lesson_group.name}>#{@lesson.name}"

.pr16.pl16.mt24
  - if @questions&.length == 0
    .mt24 現在、設定されている課題はありません。
  - else
    - @questions&.each do |question|
      - status = question.question_status_of(current_user).status
      = render 'question_card', question: question, status: status
