= render 'shared/lesson_title'
.pr16.pl16.mt24
  - if @questions&.length == 0
    .mt24 現在、設定されている課題はありません。
  - else
    - @questions&.each do |question|
      - status = question.question_status_of(current_user).status
      %div{ id: "js-primary-question--#{question.id}"}
        - if ['unselected', 'will_do', 'commented', 'submit_again'].include?(status)
          = render 'question_card_primary', question: question, status: status
    - @questions&.each do |question|
      - status = question.question_status_of(current_user).status
      %div{ id: "js-secondary-question--#{question.id}"}
        - if ['maybe_do', 'comment_checked', 'checking', 'complete'].include?(status)
          = render 'question_card_secondary', question: question, status: status
    - @questions&.each do |question|
      - status = question.question_status_of(current_user).status
      %div{ id: "js-tertiary-question--#{question.id}"}
        - if ['will_not_do'].include?(status)
          = render 'question_card_tertiary', question: question, status: status
