.teacher_top
  .teacher_top__to_check
    - if @lessons_to_check.present?
      .lessons_to_notify
        .lessons_to_notify__title 未チェックの課題があります！！
        .lessons_to_notify__lessons
          - @lessons_to_check.each do |lesson|
            .lessons_to_notify__lesson= link_to "#{ lesson.lesson_group.name }/#{ lesson.name }(#{ lesson.checking_count }件)", checking_teacher_lesson_answer_checks_path(lesson_id: lesson.id)
    - else
      .lessons_to_notify 未チェックの課題はありません。

  .teacher_top__to_check
    - if @lessons_no_question.present?
      .lessons_to_notify
        .lessons_to_notify__title 期間内で課題がありません。
        .lessons_to_notify__lessons
          - @lessons_no_question.each do |lesson|
            .lessons_to_notify__lesson= link_to "#{ lesson.lesson_group.name }/#{ lesson.name }", new_teacher_lesson_question_path(lesson_id: lesson.id)
    - if @lessons_no_question.present? && @lessons_has_unpublish_question.present?
      %hr
    - if @lessons_has_unpublish_question.present?
      .lessons_to_notify
        .lessons_to_notify__title 未公開の課題が残っています。
        .lessons_to_notify__lessons
          - @lessons_has_unpublish_question.each do |lesson|
            .lessons_to_notify__lesson= link_to "#{ lesson.lesson_group.name }/#{ lesson.name }", new_teacher_lesson_question_path(lesson_id: lesson.id)
