.teacher_header
  = link_to teacher_path do
    .teacher_header__logo
      = image_tag ('marutsuke_logo_b.png'), art: 'marutsuke'
  = link_to teacher_lessons_path do
    .teacher_header__element 生徒
  = link_to teacher_lessons_path do
    .teacher_header__element コメント
  = link_to teacher_manage_menus_path do
    .teacher_header__element 管理メニュー
  .teacher_name= "#{ current_teacher.name }先生(所属: #{current_teacher.main_school_building&.name || 'なし'})"

  = link_to teacher_logout_path, method: :delete do
    .teacher_header__element ログアウト
  .teacher_header__space
