.header_for_teacher.mb24.mt8
  .teacher_link.flex.flex-sparo
    = link_to 'top', root_path
    - if current_teacher
      = link_to '生徒一覧', teacher_users_path
      = link_to "#{Lesson.model_name.human}新規作成", new_teacher_lesson_path
      = link_to '生徒追加', new_teacher_user_path
      = link_to '教師追加', new_teacher_teacher_path
      %p= "#{current_school.name}： #{current_teacher.name}先生"
      = link_to '教師ログアウト', teacher_logout_path, method: :delete
    - else
      = link_to '教師ログイン', teacher_login_path
