= "#{@teacher.name}さん"
=  "#{ @teacher.school.name }学校の課題提出管理システムのパスワード"
\のアカウントを有効化するには、以下のリンクより、アクセスをお願いします。

= edit_teacher_account_activation_url(@teacher.teacher_activation_token, email: @teacher.email)
