- content_for(:back_path, user_account_settings_path)
.o-cancel-form
  .o-cancel-form__heading
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 退会手続き
  .o-cancel-form__description
    .a-text-primary 退会する理由について、当てはまるものを一つ選んでください。
  .o-cancel-form__body
    = form_with model: @cancel_reason, url: cancels_path, method: :post, local: true do |f|
      =render 'shared/error_messages', model_object: @cancel_reason
      .m-radio-form.mb16
        = f.radio_button :reason, :school_canceled, class: 'm-radio-form__radio-button'
        = f.label :reason, CancelReason.reasons_i18n[:school_canceled], {value: :school_canceled, class: 'm-radio-form__label'}
      .m-radio-form.mb16
        = f.radio_button :reason, :not_user_friendly, class: 'm-radio-form__radio-button'
        = f.label :reason, CancelReason.reasons_i18n[:not_user_friendly], {value: :not_user_friendly, class: 'm-radio-form__label'}
      .m-radio-form.mb16
        = f.radio_button :reason, :expensive, class: 'm-radio-form__radio-button'
        = f.label :reason, CancelReason.reasons_i18n[:expensive], {value: :expensive, class: 'm-radio-form__label'}
      .m-radio-form.mb16
        = f.radio_button :reason, :other, class: 'm-radio-form__radio-button'
        = f.label :reason, CancelReason.reasons_i18n[:other], {value: :other, class: 'm-radio-form__label'}
      .m-text-area.mb24
        = f.label :text, CancelReason.human_attribute_name(:text), class: 'm-text-area__label'
        = f.text_area :text, class: 'm-text-area__form'
      .flex-sparo
        = f.submit '送信', class: 'a-button-danger u-width--120px u-height--3rem'
