.flex-sparo
  %h2.mt16.ml16 パスワード変更
  .mt16.ml16= link_to '戻る', teacher_mypage_index_path, class: 'a-button a-button--secondary'
%hr
.flex-sparo
  .u-width-wrap--100per
    = form_with model: current_teacher, url: teacher_password_index_path, method: :patch, local: true do |f|
      = render 'shared/error_messages', model_object: current_teacher
      .u-display-table
        .u-display-table-row
          .u-display-table-cell
            = f.label :old_password, 'パスワード', class: 'a-form-label required'
          .u-display-table-cell
            = f.password_field :old_password, class: 'a-form-text-field'
            .a-text-note= VALIDATE_FORMAT_OF_ID_TEXT
        = render 'new_password_form', f: f
