<%=render "shared/header"%>
<%= link_to 'ユーザー一覧ページ', admin_users_path, method: :get, class: "nav-link f header-menu_list_a" %>
<%= link_to 'ユーザー作成ページ', new_admin_user_path, method: :get, class: "nav-link f header-menu_list_a" %>
<div class="user-edit-inf">
  <div class="user-edit-inf__id">ログインID: <%=@user.login_id%></div>
  <div class="user-edit-inf__name">名前:<%=@user.name%></div>
</div>
<div  class="user-register-form">
  <%= form_with(model: [:admin,@user],local:true) do |f|%>
    <div class="ml-2">
      <label for="user_name">名前</label class="new-user-label"><br>
      <%= f.text_field :name ,class: "col-4 mt-1 ml-2", id:"user_name",autocomplete:'off'%>
    </div>
    <div class="ml-2">
      <label for="login_id" class="new-user-label">ログインID</label><br>
        <%= f.text_field :login_id, class: "col-4 mt-1 ml-2", id: "login_id"%>
    </div>
   <div class="ml-2">
      <label for="password" class="new-user-label">パスワード(必須・初期値:1234)</label><br>
      <%= f.text_field :password, class: "col-4 mt-1 ml-2", id: "password", value: "1234"%>
    </div>
    <div class="ml-2" >
      <label for="password_confirmation" class="new-user-label">パスワード(確認)</label><br>
      <%= f.text_field :password_confirmation, class: "col-4 mt-1 ml-2", id: "password_confirmation", value: "1234"%>
    </div>
    <div class="ml-2">
    <%= f.submit "ユーザー編集", class:"btn btn-success btn-sm  add-section section-lists col-3 mt-3 ml-3"%>
    </div>
  <%end%>
</div>
