- if lessons.size > 0
  .mt56.ml24= "#{lesson_group.school_building.name}#{lesson_group.name}の授業一覧"
  %table.o-table-simple.mr40
    %thead.o-table-simple__thead
      %th.o-table-simple__th= Lesson.human_attribute_name(:name)
      %th.o-table-simple__th= Lesson.human_attribute_name(:start_at)
      %th.o-table-simple__th= Lesson.human_attribute_name(:end_at)
      %th.o-table-simple__th= Lesson.human_attribute_name(:teacher_id)
      %th.o-table-simple__th 未チェック数
      %th.o-table-simple__th
    - lessons.each do |lesson|
      %tr.o-table-simple__tr
        %td.o-table-simple__td= lesson.name
        %td.o-table-simple__td= lesson.decorate.start_time_with_y
        %td.o-table-simple__td= lesson.decorate.end_time_with_y
        %td.o-table-simple__td= lesson.teacher.name
        %td.o-table-simple__td= lesson.checking_count
        %td.o-table-simple__td 詳細
