.o-checking
  .o-checking__left-container
    - @answers&.each do |answer|
      .o-checking__conversation-wrap
        .o-checking__user-image
          .m-user-image
            .m-user-image__image
              - if answer.user.image.present?# ユーザーに画像を登録させる。
                = image_tag answer.user.image_url, class: 'a-user-image a-user-image--small'
              - else
                .a-user-no-image.a-user-no-image--small No Image
            .m-user-image__name--small
              .a-text-primary.a-text-small= answer.user.name
              .flex.flex-cen
                .a-text-primary.a-text-small さん
        .o-checking__answer-wrap
          .o-checking__answer-text
            .a-text-primary.a-text-large= simple_format(answer.text)
          - if answer.answer_images.present?
            .o-checking__answer-images
              - answer&.answer_images.each do |answer_image|
                = image_tag answer_image&.image_url, class: 'o-checking__answer-image'
      - answer.comments&.each do |comment|
        .o-checking__conversation-wrap
          .o-checking__answer-wrap
            .o-checking__comment-text
              .a-text-primary.a-text-large= simple_format(comment.text)
            - if comment.image.present?
              .o-checking__answer-images
                = image_tag comment&.image_url, class: 'o-checking__answer-image'
          .o-checking__user-image
            .m-user-image
              .m-user-image__image
                - if false # comment.teacher.image.present? 教員にimageを登録させたい。
                  = image_tag comment.teacher.image_url, class: 'a-user-image a-user-image--small'
                - else
                  .a-user-no-image.a-user-no-image--small No Image
              .m-user-image__name--small
                .a-text-primary.a-text-small= comment.teacher.name
                .flex.flex-cen
                  .a-text-primary.a-text-small さん
  .o-checking__right-container
    .o-checking__question-title
      .a-text-primary.a-text-xlarge= @target_answer.question.name
    .o-checking__comment-form
      =form_with model: @comment, url: check_teacher_lesson_answer_checks_path(lesson_id: @lesson.id), local: true do |f|
        =render 'shared/error_messages', model_object: @comment
        = f.label :text, class: 'required'
        = f.text_area :text, class: 'answer_check_form__text_area'
        = f.hidden_field :answer_id, value: @target_answer.id
        - if @next_answer_exist
          =hidden_field_tag :next_answer_page, @page
        - elsif @next_lesson_exist
          =hidden_field_tag :next_lesson_id, @next_lesson_id
        - elsif @back_answer_exist
          =hidden_field_tag :back_answer_page, @page - 1
        - elsif @back_lesson_exist
          =hidden_field_tag :back_lesson_id, @back_lesson_id
        .answer_check_form__submit
          = f.submit '送信', class: 'answer_check_form__submit_btn'

    .answer_check_form_button_area
      .answer_check_page_buttons
        - if @back_answer_exist
          .answer_checking_backs__link= link_to '前の解答へ', @back_answer_path, class: 'answer_check_page_buttons__for_answer'
        - elsif @back_lesson_exist
          .answer_checking_next__link= link_to '前の授業へ', @back_lesson_path, class: 'answer_check_page_buttons__for_lesson'
      .answer_check_page_buttons
        - if @next_answer_exist
          .answer_checking_next__link= link_to '次の解答へ', @next_answer_path, class: 'answer_check_page_buttons__for_answer'
        - elsif @next_lesson_exist
          .answer_checking_next__link= link_to '次の授業へ', @next_lesson_path, class: 'answer_check_page_buttons__for_lesson'
