.flex
  .o-questions
    .o-questions__headding
      .a-text-secondary.a-text-small= "#{@lesson_group.school_year || '-'}年度/#{@lesson_group.school_building.name}"
      .flex-spbet-end
        .a-text-primary.a-text-xlarge= "#{@lesson_group.name}/#{@lesson.name}"
        .a-text-primary= "提出受付期間:#{@lesson.decorate.start_to_end_time}"
    .o-questions__contents
      - @questions.each do |question|
        .o-questions__top
          .flex-spbet
            .a-text-primary.a-text-xlarge= "課題#{question.display_order}#{'(下書き)' if !question.publish}"
            = link_to '課題状況', '#', class: 'a-text-xlarge'
        .o-questions__content{class: question.decorate.unpublish_opacity_class}
          .m-question
            - if question&.image_url
              = image_tag question.image_url, alt: question.image_alt, class: 'm-question__image'
            .m-question__text{class: question.decorate.unpublish_opacity_class}= simple_format(question.text)
  .o-question-statuses
    .o-question-statuses__hedding
      .a-text-primary.a-text-xlarge 課題状況
      = link_to '課題管理に戻る', teacher_question_set_index_path(lesson_id: @lesson.id), class: 'a-text-large'
    .o-question-statuses__body
      - if @questions.present?
        - @questions.published.each do |question|
          .mt40.ml16
            .a-text-primary= "課題番号: #{question.display_order} "
            %table.o-table-simple.mt16
              %thead.o-table-simple__thead
                %th.o-table-simple__th= User.human_attribute_name(:id)
                %th.o-table-simple__th= User.human_attribute_name(:name)
                %th.o-table-simple__th ステータス
                %th.o-table-simple__th
              - @lesson_group.users.each do |user|
                - school_user = user.school_user(current_teacher_school)
                %tr.o-table-simple__tr
                  %td.o-table-simple__td= user.id
                  %td.o-table-simple__td= user.name
                  %td.o-table-simple__td= question&.question_status_of(user)&.decorate&.status_for_teacher || '未確認'
                  %td.o-table-simple__td= question&.question_status_of(user)&.decorate&.checking_link
      - else
        .a-text-primary まだ、課題は設定されていません。
