= render 'teacher/shared/header'
.user_form__title タグ新規登録
.user_form
  = form_with model: [:teacher, current_school], local: true do |f|
    =render 'shared/error_messages', model_object: current_school
    .user_form__label_and_input
      = f.label :name, class: 'required'
      = f.text_field :name
    .user_form__label_and_input
      = f.label :login_path, class: 'required'
      = f.text_field :login_path
    = f.submit '更新する', class: 'user_form__submit_btn'
