%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
  - if Rails.env.production?
    / Global site tag (gtag.js) - Google Analytics only production
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-154235866-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-154235866-1', {});
  %title Marutsuke
  = favicon_link_tag 'favicons/maru.ico'
  = favicon_link_tag 'favicons/maru180x180.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png'
  = favicon_link_tag 'favicons/maru192x192.png', rel: 'android-touch-icon', sizes: '192x192', type: 'image/png'
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
