<!DOCTYPE html>
<html>
  <head>
    <title>Marutsuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/favicon'%>
  </head>

  <body>
    <div class="notification">
      <%flash.each do |key,value|%>
      <div class="aleart alert-success "><%=value%></div>
      <%end%>
    </div>
    <%= yield %>
    <%# <small class="copyright">
        Copyright © 2019 NishiguchiShoichi All Right Reserved.
    </small> %>
  </body>
</html>
