<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154235866-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-154235866-1');
      var dimensionValue = "<%=current_user.present? ? current_user.correct_numbers.size : false %>";
      ga('set', 'dimension1', dimensionValue);
    </script>

    <title>Marutsuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/favicon'%>
  </head>

  <body>
    <div class="notification">
      <%flash.each do |key,value|%>
      <div class="aleart alert-success"><%=value%></div>
      <%end%>
    </div>
    <%= yield %>
    <%# <small class="copyright">
        Copyright © 2019 NishiguchiShoichi All Right Reserved.
    </small> %>
  </body>
</html>
